<section class="intro-block">
  <div class="container">
    <div class="intro-content text-center para-20">
      <h2 class="bottom-design"><span class="">{{ item.field_title }}</span></h2>
      <div [innerHTML]="item.field_blurb"></div>
    </div>
  </div>
</section>
