.intro-block {
  padding: 68px 0 60px;
  .intro-content {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin-bottom: 15px;
      padding-bottom: 15px;
      position: relative;
    }
    //.bottom-design:after {
    //  content: "";
    //  position: absolute;
    //  background: url(../../../assets/images/heading-border.png) no-repeat;
    //  width: 129px;
    //  height: 7px;
    //  bottom: 0;
    //  left: calc(50% - 65px);
    //}
    .para-20 {
      font-size: 20px;
    }
  }

}
