@import "../../../../assets/styles/common/variables";

/*
 * document css
 */

.documentation {
  .mySidenav {
    width: 250px;
    height: 100%;
    display: inline-block;
    text-align: left;
    position: fixed;
    float: left;
    z-index: 99;
    background: $font-one;
    border-right: 1px solid #f1f1f1;
    top: 77px;
    font-family: sans-serif;
    .nav-fix {
      > .dropdown {
        padding: 10px;
        > a {
          margin-bottom: 10px;
          display: block;
          padding: 5px 15px;
          position: relative;
          &:hover {
            background: #dbdbdb;
            color: #288AE2;
            @include border-radius(5px);
          }
          &:after {
            content: '';
            position: absolute;
            top: 6px;
            right: 20px;
            background: url(/assets/images/arrow_right.png) no-repeat;
            width: 20px;
            height: 20px;
          }
        }
        .sub-menu {
          margin-left: 25px;
          > li {
            font-size: 12px;
            font-weight: 100;
            a {
              padding: 5px 10px;
              display: block;
              font-size: 16px;
              font-weight: 500;
              &:hover {
                background: #dbdbdb;
                color: #288AE2;
              }
            }
          }
        }
      }
    }
  }
  .right-page {
    margin-left: 250px;
    font-family: sans-serif;
    .tutorial {
      .sub-div {
        padding: 20px 0;
        p {
          font-size: 16px;
          line-height: 1.6;
          margin: 20px 0;
          a {
            color: #288AE2;
            font-size: 16px;
            @include transition (all, 0.3s, ease-out);
            &:hover {
              text-decoration: underline;
            }
          }
          code {
            color: #333;
            background: #f1f1f1;
            letter-spacing: 0;
            font-size: 85%;
            padding: 2px 5px;
          }
        }
        ul {
          li {
            list-style: disc;
            margin: 0 0 10px 50px;
            font-weight: 300;
            font-size: 16px;
            code {
              color: #333;
              background: #f1f1f1;
              letter-spacing: 0;
              font-size: 85%;
              padding: 2px 5px;
            }
          }
        }
        h4 {
          margin: 30px 0;
          font-weight: 500;
        }
        figure {
          margin: 20px 0;
          img {

          }
        }
        h3 {
          margin-bottom: 15px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -7px;
            width: 130px;
            height: 1px;
            background: #c5c5c5;
          }
        }
        .code-cmd {
          background: #333;
          display: block;
          padding: 20px 50px;
          border-radius: 5px;
          code {
            color: #17ff0b;
            display: block;
            margin: 5px 0;
          }
        }
        .sub-section {
          background: rgba(25, 118, 210, .05);
          border-left: 8px solid #1976d2;
          padding: 15px;
          p {
            font-size: 15px;
          }
        }
        ol {
          li {
            list-style-type: decimal;
            margin: 0 0 10px 40px;
            code {
              color: #333;
              background: #f1f1f1;
              letter-spacing: 0;
            }
          }
        }
        .cmd-box {
          border: 0.5px solid #ccc;
          border-radius: 5px;
          header {
            background: #288AE2;
            padding: 15px;
            border-radius: 5px 5px 0 0;
            color: $font-one;
          }
          code {
            padding: 25px 41px;
            display: block;
            span {
              color: #800;
            }
          }
        }
        .sub-section-or {
          border-left: 10px solid #ff9800;
          background-color: rgba(255, 152, 0, .05);
        }
      }
    }
  }
}
