<app-second-level-banner [item]="item"></app-second-level-banner>
<section class="documentation">
    <nav class="mySidenav" id="sidenav">
        <ul class="nav-fix">
            <li class="dropdown">
                <a href="">TUTORIAL</a>
                <ul class="sub-menu">
                    <li><a href="">1. Lorem Ipsum</a></li>
                    <li><a href="">2. Lorem Ipsum</a></li>
                    <li><a href="">3. Lorem Ipsum</a></li>
                    <li><a href="">4. Lorem Ipsum</a></li>
                    <li><a href="">5. Lorem Ipsum</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="">FUNDAMENTALS</a>
                <ul class="sub-menu">
                    <li><a href="">1. Lorem Ipsum</a></li>
                    <li><a href="">2. Lorem Ipsum</a></li>
                    <li><a href="">3. Lorem Ipsum</a></li>
                    <li><a href="">4. Lorem Ipsum</a></li>
                    <li><a href="">5. Lorem Ipsum</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="">TECHNIQUES</a>
                <ul class="sub-menu">
                    <li><a href="">1. Lorem Ipsum</a></li>
                    <li><a href="">2. Lorem Ipsum</a></li>
                    <li><a href="">3. Lorem Ipsum</a></li>
                    <li><a href="">4. Lorem Ipsum</a></li>
                    <li><a href="">5. Lorem Ipsum</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="right-page">
        <div class="container">
            <div class="tutorial fundamental" id="topic-1">
                <div class="sub-div document-page-1" id="tutorial_sub_1">
                    <h3>(1)Lorem: Ipsum Dorem plwsal Iopen</h3>
                    <p>Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>. Aenean lobortis aliquet eros et
                        suscipit. Pellentesque nulla odio, luctus sit amet nunc eu, tincidunt luctus ligula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis aliquet eros et
                        suscipit. Pellentesque nulla odio, luctus sit amet nunc eu, tincidunt luctus ligula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit: - </p>
                    <ul>
                        <li>Vivamus faucibus nunc sapien, commodo rhoncus ipsum hendrerit non.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Cras vel nisi sit amet massa tempus porta a vitae erat</li>
                        <li>Vivamus faucibus nunc sapien, commodo rhoncus ipsum hendrerit non.</li>
                        <li>Cras vel nisi sit amet massa tempus porta a vitae erat</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.
                        <a href="">Lorem Ipsum</a> / <a href="">Download lorem</a> consectetur adipiscing elit nunc
                        sapien.
                    </p>
                    <h4>Commodo rhoncus ipsum hendrerit</h4>
                    <figure>
                        <img src="/assets/images/doc-1.jpg" alt="documentation_image_1">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <figure>
                        <img src="/assets/images/doc-2.png" alt="documentation_image_2">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <figure>
                        <img src="/assets/images/doc-3.png" alt="documentation_image_3">
                    </figure>
                </div>
                <div class="sub-div document-page-2" id="tutorial_sub_2">
                    <h3>(2) Lorem: facusbis nunc spaien</h3>
                    <h4>Install the Angular CLI</h4>
                    <p>Consectetur adipiscing elit nunc sapien</p>
                    <div class="code-cmd">
                        <code>npm install -g @angular/cli</code>
                    </div>

                    <h4>Create a new application</h4>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command.</p>
                    <div class="code-cmd">
                        <code>ng new angular-tour-of-heroes</code>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <h4>Serve the application</h4>
                    <p>Go to the project directory and launch the application.</p>
                    <div class="code-cmd">
                        <code>cd angular-tour-of-heroes</code>
                        <code>ng serve --open</code>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <div class="sub-section">
                        <p>The <code>ng serve</code> command builds the app, starts the development server, watches the
                            source files,
                            and rebuilds the app as you make changes to those files.
                        </p>
                        <p>
                            The <code>--open</code> flag opens a browser to <code>http://localhost:4200/.</code>
                        </p>
                    </div>
                    <p>You should see the app running in your browser.</p>

                    <h4>Angular components</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo <code>rhoncus
                        ipsum.</code></p>
                    <p>Donec rhoncus pellentesque nulla non fringilla. Sed interdum nisi malesuada malesuada imperdiet.
                        Maecenas tincidunt enim est, nec aliquet massa vehicula a</p>

                    <h4>Change the application title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo
                        <code>rhoncus/ipsum.</code></p>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>
                    <ol>
                        <li><code>Maecenas tincidunt .ts</code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenas tincidunt .html</code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenas tincidunt .css</code>— the component class code, written in TypeScript.</li>
                    </ol>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et dolor vehicula auctor.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus (nunc sapien nunc)
                        </header>
                        <code>title = <span>'Tour of Heroes'</span></code>
                    </div>

                    <p>Nam leo lacus, tempus ac metus eget, (<code>ornare tincidunt quam</code>.) Aliquam dapibus
                        tincidunt ipsum.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus nunc sapien nunc (template)
                        </header>
                        <code>
                            < h1> <span>(title)</span>< /h1>
                        </code>
                    </div>
                </div>

                <div class="sub-div document-page-3" id="tutorial_sub_3">
                    <h3>(3) Lorem: facusbis nunc spaien</h3>
                    <h4>Install the Angular CLI</h4>

                    <p>Consectetur adipiscing elit nunc sapien</p>
                    <div class="code-cmd">
                        <code>npm install -g @angular/cli</code>
                    </div>

                    <h4>Create a new application</h4>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command.</p>
                    <div class="code-cmd">
                        <code>ng new angular-tour-of-heroes</code>
                    </div>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et
                        dolor vehicula auctor.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus (nunc sapien nunc)
                        </header>
                        <code>title = <span>'Tour of Heroes'</span></code>
                    </div>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et dolor vehicula auctor.</p>
                    <figure>
                        <img src="/assets/images/doc-4.png" alt="documentation_image_4">
                    </figure>

                    <p>Lorem <code>ipsum</code> dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus
                        <code>@ipsum</code>.</p>
                    <p><code>@Component </code> is a decorator function that specifies the Angular metadata for the
                        component.</p>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>
                    <ol>
                        <li><code>Maecenas </code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenasurl </code>— the component class code, written in TypeScript.</li>
                        <li><code>tincidunturls</code>— the component class code, written in TypeScript.</li>
                    </ol>
                    <p>Lorem ipsum dolor sit amet, <a href="">Lorem Ipsum </a> <code>consectetur</code> adipiscing elit
                        nunc sapien, <a href="">Download lorem </a> commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>

                    <h4>Add a Hero Property</h4>
                    <p>Add a hero property to the <code>HeroesComponent</code> for a hero named "Windstorm."</p>
                    <div class="cmd-box">
                        <header>
                            heroes.component.ts (hero property)
                        </header>
                        <code>hero = <span>'Windstorm'</span></code>
                    </div>

                    <h4>Maecenas tincidunt enim</h4>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <a href="">Quisque </a> sit
                        amet turpis sollicitudin libero <code>viverra</code></p>
                    <div class="cmd-box">
                        <header>
                            heroes.component.ts (hero property)
                        </header>
                        <code><span>hero</span></code>
                    </div>

                    <h4>Maecenas tincidunt <em>slekls winor</em> enim</h4>
                    <p>Lorem ipsum dolor sit amet, <a href="">Lorem Ipsum </a> <code>consectetur</code> adipiscing elit
                        nunc sapien, <a href="">Download lorem </a> commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <a href="">Quisque </a> sit
                        amet turpis sollicitudin libero <code>viverra</code>
                    </p>
                    <figure>
                        <img src="/assets/images/doc-5.png" alt="documentation_image_5">
                    </figure>

                    <h4>Maecenas tincidunt winor enim</h4>
                    <p>Lorem <code>ipsum</code> dolor sit amet, Lorem Ipsum <code>consectetur</code> adipiscing elit
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <code>Quisque </code> sit
                        amet turpis sollicitudin libero <code>viverra</code>
                    </p>
                    <figure>
                        <img src="/assets/images/doc-6.png" alt="documentation_image_6">
                    </figure>

                    <p>Lorem <code>ipsum</code> dolor sit amet, Lorem Ipsum <code>consectetur</code> adipiscing elit
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <code>Quisque </code> sit
                        amet.
                    </p>
                    <p><code>Cras</code> vel nisi sit amet massatempus porta a vitae erat. Quisque sit amet.</p>
                    <figure>
                        <img src="/assets/images/doc-7.png" alt="documentation_image_7">
                    </figure>


                    <h4>Show the object Hero</h4>
                    <p>Lorem ipsum dolor sit amet, Lorem Ipsum <code>id</code> adipiscing <code>name</code>
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                    </p>
                    <figure>
                        <img src="/assets/images/doc-8.png" alt="documentation_image_8">
                    </figure>

                    <h4>The missing <em>FormModule</em></h4>
                    <p>Notice that the app stopped working when you added <code>-ngmodel</code>.</p>
                    <div class="code-cmd">
                        <code>Template parse errors:</code>
                        <code>Can't bind to 'ngModel' since it isn't a known property of 'input'.</code>
                    </div>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>

                </div>

                <div class="sub-div document-page-4" id="tutorial_sub_4">
                    <h3>(4) Lorem: facusbis nunc spaien</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <h4>Install the Angular CLI</h4>
                    <p>Nam leo lacus, tempus ac metus eget, ornare tincidunt quam.</p>
                    <p>Nam leo lacus, tempus ac metus eget, ornare tincidunt quam. Nam leo lacus, tempus ac metus eget,
                        ornare tincidunt quam</p>
                    <p>Nam leo lacus, <code>tempus</code> ac metus eget, <code>/ornare/tincidunt</code> quam. Nam leo
                        lacus, tempus ac metus eget,
                        ornare tincidunt quam</p>
                    <figure>
                        <img src="/assets/images/doc-9.png" alt="documentation_image_9">
                    </figure>

                    <h4>Install the Angular CLI</h4>
                    <p>ultrices quis quis lectus. Donec rhoncus pellentesque nulla non <code>fringilla</code>.</p>
                    <p>Quisque sit amet turpis sollicitudin libero viverra <code>viverra</code> imperdiet at nisl.
                        <code>Fusce</code> hendrerit</p>
                    <figure>
                        <img src="/assets/images/doc-10.png" alt="documentation_image_10">
                    </figure>
                    <p>Quisque sit amet turpis <code>viverra</code> imperdiet at nisl. hendrerit</p>
                    <div class="cmd-box">
                        <code>heroes = HEROES</code>
                    </div>

                    <h4>List for ngFor</h4>
                    <p>Nam leo lacus, <code>tempus</code> ac metus eget, ornare tincidunt quam.</p>
                    <ul>
                        <li>rhoncus <code>id</code> pellentesque nulla non</li>
                        <li>Nam leo lacus, tempus ac metus eget(<code>id</code>)</li>
                        <li>Nam leo <code>(li)</code>lacus, tempus ac <code>(ul)</code> metus eget viverra</li>
                        <li>ultrices quis quis lectus. Donec rhoncus pellentesque nulla non</li>
                    </ul>
                    <p>ultrices quis quis lectus:</p>
                    <figure>
                        <img src="/assets/images/doc-11.png" alt="documentation_image_11">
                    </figure>

                    <p>Lorem <a href="">ultrices</a> quis quis lectus. Donec rhoncus pellentesque nulla non</p>
                    <p>Lorem dolor emet</p>
                    <ul>
                        <li><code>(li)</code> pellentesque nulla non</li>
                        <li><code>Namse</code> leo lacus, tempus ac metus eget<code>vilelank</code></li>
                        <li><code>ultrices</code> quis quis lectus. Donec rhoncus pellentesque nulla non</li>
                    </ul>

                    <div class="sub-section sub-section-or">
                        <p>The <code>ng serve</code> command builds the app, starts the development server, watches the
                            source files,
                            and rebuilds the app as you make changes to those files.
                        </p>
                        <p>
                            The <code>--open</code> flag opens a browser to <code>http://localhost:4200/.</code>
                        </p>
                    </div>

                    <h4>stylo ipso lorem doer</h4>
                    <p>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                        libero elementum, a rhoncus augue placerat.</p>
                    <p>Morbi <a href="">molestie</a> vulputate sem id rutrum. Quisque auctor maximus vulputate.
                        Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</p>
                    <p>Vestibulum ante ipsum primis in <code>faucibus</code> orci luctus et ultrices posuere cubilia
                        Curae Fusce id felis varius.</p>
                    <p>Quisque ut consectetur lorem. Suspendisse hendrerit risus non mattis gravida. Nunc nec tempor
                        ipsum, nec condimentum purus. Morbi -molestie vulputate sem id rutrum.</p>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus
                        aliquet odio, at lobortis purus sapien ac est. Maecenas sem dui, <code>bibendum</code> nec mi
                        in.
                    </p>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse <code>hendrerit</code> risus non mattis
                        gravida. Nunc nec tempor
                        ipsum, <code>nec</code> condimentum purus. Morbi <code>-molestie</code> vulputate sem id rutrum.
                    </p>
                    <figure>
                        <img src="/assets/images/doc-12.png" alt="documentation_image_12">
                    </figure>
                    <p>Quisque ut <code>consectetur lorem</code>. Suspendisse hendrerit risus non mattis
                        <code>gravida</code>. Nunc nec tempor
                        ipsum, nec condimentum purus. Morbi -molestie vulputate <a href="">sem id rutrum</a>.
                    </p>
                    <div class="sub-section sub-section-or">
                        <p>The ng serve <code>@command</code> builds the app, starts the development server, watches the
                            source files, and rebuilds the app as you make changes to those files. The
                            <code>HeroesComponent</code> flag opens a browser to at lobortis purus sapien ac est.
                        </p>
                    </div>

                    <h4>Lorem/Ipsum</h4>
                    <p>Vestibulum ante ipsum primis in <b>faucibus</b> orci luctus et ultrices posuere cubilia
                        Curae Fusce id felis varius. uspendisse hendrerit <b>risus</b> non mattis.
                    </p>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

                    <h6>Vivamus faucibus nunc sapien</h6>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus.</p>
                    <figure>
                        <img src="/assets/images/doc-13.png" alt="documentation_image_13">
                    </figure>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>

                </div>

                <div class="sub-div document-page-5" id="tutorial_sub_5">
                    <h3>(5) Lorem/facusbis nuncspaien</h3>
                    <p>Lorem ipsum dolor sit amet, <code>consectetur</code> adipiscing elit nunc sapien, commodo rhoncus
                        ipsum.</p>
                    <p>The ng serve command builds the app, starts the development server, watches the
                        source files, and rebuilds the app as you make changes to those files. The
                        HeroesComponent flag opens a browser to at lobortis purus sapien ac est.
                    </p>

                    <h4>Lorem Ipsum <code>HeroDetailComponent</code></h4>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse hendrerit risus non mattis</p>
                    <div class="code-cmd">
                        <code>ng generate component hero-detail</code>
                    </div>
                    <p>ultrices quis quis <code>lectus</code>. Donec rhoncus pellentesque nulla non
                        <code>fringilla</code>.</p>

                    <h6>Write Lorem Pdorle</h6>
                    <p>Donec <code>rhoncus</code> pellentesque nulla non fringilla. Sed interdum nisi malesuada
                        malesuada imperdiet.
                        Maecenas tincidunt enim est, nec aliquet massa vehicula a</p>
                    <p>Lorem ipsum dolor sit amet, <code>consectetur</code> adipiscing elit nunc sapien, commodo <code>consectetur</code>rhoncus
                        ipsum.
                    </p>
                    <p>Vestibulum <code>ante</code> ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae.</p>
                    <figure>
                        <img src="/assets/images/doc-14.png" alt="documentation_image_14">
                    </figure>

                    <h4>Lorem Ipsum <code>HeroDetailComponent</code></h4>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse hendrerit risus non mattis</p>
                    <figure>
                        <img src="/assets/images/doc-15.png" alt="documentation_image_15">
                    </figure>
                    <h6>Vivamus faucibus nunc sapien</h6>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus.</p>
                    <figure>
                        <img src="/assets/images/doc-13.png" alt="documentation_image_13">
                    </figure>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>
                </div>
            </div>


            <div class="tutorial fundamental" id="topic-2">
                <div class="sub-div document-page-1" id="fundamental_sub_1">
                    <h3>(1)Funda: Ipsum Dorem plwsal Iopen</h3>
                    <p>Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>. Aenean lobortis aliquet eros et
                        suscipit. Pellentesque nulla odio, luctus sit amet nunc eu, tincidunt luctus ligula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis aliquet eros et
                        suscipit. Pellentesque nulla odio, luctus sit amet nunc eu, tincidunt luctus ligula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit: - </p>
                    <ul>
                        <li>Vivamus faucibus nunc sapien, commodo rhoncus ipsum hendrerit non.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Cras vel nisi sit amet massa tempus porta a vitae erat</li>
                        <li>Vivamus faucibus nunc sapien, commodo rhoncus ipsum hendrerit non.</li>
                        <li>Cras vel nisi sit amet massa tempus porta a vitae erat</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.
                        <a href="">Lorem Ipsum</a> / <a href="">Download lorem</a> consectetur adipiscing elit nunc
                        sapien.
                    </p>
                    <h4>Commodo rhoncus ipsum hendrerit</h4>
                    <figure>
                        <img src="/assets/images/doc-1.jpg" alt="documentation_image_1">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <figure>
                        <img src="/assets/images/doc-2.png" alt="documentation_image_2">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <figure>
                        <img src="/assets/images/doc-3.png" alt="documentation_image_3">
                    </figure>
                </div>

                <div class="sub-div document-page-2" id="fundamental_sub_2">
                    <h3>(2) Funda: facusbis nunc spaien</h3>
                    <h4>Install the Angular CLI</h4>
                    <p>Consectetur adipiscing elit nunc sapien</p>
                    <div class="code-cmd">
                        <code>npm install -g @angular/cli</code>
                    </div>

                    <h4>Create a new application</h4>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command.</p>
                    <div class="code-cmd">
                        <code>ng new angular-tour-of-heroes</code>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <h4>Serve the application</h4>
                    <p>Go to the project directory and launch the application.</p>
                    <div class="code-cmd">
                        <code>cd angular-tour-of-heroes</code>
                        <code>ng serve --open</code>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <div class="sub-section">
                        <p>The <code>ng serve</code> command builds the app, starts the development server, watches the
                            source files,
                            and rebuilds the app as you make changes to those files.
                        </p>
                        <p>
                            The <code>--open</code> flag opens a browser to <code>http://localhost:4200/.</code>
                        </p>
                    </div>
                    <p>You should see the app running in your browser.</p>

                    <h4>Angular components</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo <code>rhoncus
                        ipsum.</code></p>
                    <p>Donec rhoncus pellentesque nulla non fringilla. Sed interdum nisi malesuada malesuada imperdiet.
                        Maecenas tincidunt enim est, nec aliquet massa vehicula a</p>

                    <h4>Change the application title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo
                        <code>rhoncus/ipsum.</code></p>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>
                    <ol>
                        <li><code>Maecenas tincidunt .ts</code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenas tincidunt .html</code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenas tincidunt .css</code>— the component class code, written in TypeScript.</li>
                    </ol>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et dolor vehicula auctor.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus (nunc sapien nunc)
                        </header>
                        <code>title = <span>'Tour of Heroes'</span></code>
                    </div>

                    <p>Nam leo lacus, tempus ac metus eget, (<code>ornare tincidunt quam</code>.) Aliquam dapibus
                        tincidunt ipsum.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus nunc sapien nunc (template)
                        </header>
                        <code>
                            < h1> <span>(title)</span>< /h1>
                        </code>
                    </div>
                </div>

                <div class="sub-div document-page-3" id="fundamental_sub_3">
                    <h3>(3) Funda: facusbis nunc spaien</h3>
                    <h4>Install the Angular CLI</h4>

                    <p>Consectetur adipiscing elit nunc sapien</p>
                    <div class="code-cmd">
                        <code>npm install -g @angular/cli</code>
                    </div>

                    <h4>Create a new application</h4>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command.</p>
                    <div class="code-cmd">
                        <code>ng new angular-tour-of-heroes</code>
                    </div>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et
                        dolor vehicula auctor.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus (nunc sapien nunc)
                        </header>
                        <code>title = <span>'Tour of Heroes'</span></code>
                    </div>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et dolor vehicula auctor.</p>
                    <figure>
                        <img src="/assets/images/doc-4.png" alt="documentation_image_4">
                    </figure>

                    <p>Lorem <code>ipsum</code> dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus
                        <code>@ipsum</code>.</p>
                    <p><code>@Component </code> is a decorator function that specifies the Angular metadata for the
                        component.</p>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>
                    <ol>
                        <li><code>Maecenas </code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenasurl </code>— the component class code, written in TypeScript.</li>
                        <li><code>tincidunturls</code>— the component class code, written in TypeScript.</li>
                    </ol>
                    <p>Lorem ipsum dolor sit amet, <a href="">Lorem Ipsum </a> <code>consectetur</code> adipiscing elit
                        nunc sapien, <a href="">Download lorem </a> commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>

                    <h4>Add a Hero Property</h4>
                    <p>Add a hero property to the <code>HeroesComponent</code> for a hero named "Windstorm."</p>
                    <div class="cmd-box">
                        <header>
                            heroes.component.ts (hero property)
                        </header>
                        <code>hero = <span>'Windstorm'</span></code>
                    </div>

                    <h4>Maecenas tincidunt enim</h4>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <a href="">Quisque </a> sit
                        amet turpis sollicitudin libero <code>viverra</code></p>
                    <div class="cmd-box">
                        <header>
                            heroes.component.ts (hero property)
                        </header>
                        <code><span>hero</span></code>
                    </div>

                    <h4>Maecenas tincidunt <em>slekls winor</em> enim</h4>
                    <p>Lorem ipsum dolor sit amet, <a href="">Lorem Ipsum </a> <code>consectetur</code> adipiscing elit
                        nunc sapien, <a href="">Download lorem </a> commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <a href="">Quisque </a> sit
                        amet turpis sollicitudin libero <code>viverra</code>
                    </p>
                    <figure>
                        <img src="/assets/images/doc-5.png" alt="documentation_image_5">
                    </figure>

                    <h4>Maecenas tincidunt winor enim</h4>
                    <p>Lorem <code>ipsum</code> dolor sit amet, Lorem Ipsum <code>consectetur</code> adipiscing elit
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <code>Quisque </code> sit
                        amet turpis sollicitudin libero <code>viverra</code>
                    </p>
                    <figure>
                        <img src="/assets/images/doc-6.png" alt="documentation_image_6">
                    </figure>

                    <p>Lorem <code>ipsum</code> dolor sit amet, Lorem Ipsum <code>consectetur</code> adipiscing elit
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <code>Quisque </code> sit
                        amet.
                    </p>
                    <p><code>Cras</code> vel nisi sit amet massatempus porta a vitae erat. Quisque sit amet.</p>
                    <figure>
                        <img src="/assets/images/doc-7.png" alt="documentation_image_7">
                    </figure>


                    <h4>Show the object Hero</h4>
                    <p>Lorem ipsum dolor sit amet, Lorem Ipsum <code>id</code> adipiscing <code>name</code>
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                    </p>
                    <figure>
                        <img src="/assets/images/doc-8.png" alt="documentation_image_8">
                    </figure>

                    <h4>The missing <em>FormModule</em></h4>
                    <p>Notice that the app stopped working when you added <code>-ngmodel</code>.</p>
                    <div class="code-cmd">
                        <code>Template parse errors:</code>
                        <code>Can't bind to 'ngModel' since it isn't a known property of 'input'.</code>
                    </div>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>

                </div>

                <div class="sub-div document-page-4" id="fundamental_sub_4">
                    <h3>(4) Funda: facusbis nunc spaien</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <h4>Install the Angular CLI</h4>
                    <p>Nam leo lacus, tempus ac metus eget, ornare tincidunt quam.</p>
                    <p>Nam leo lacus, tempus ac metus eget, ornare tincidunt quam. Nam leo lacus, tempus ac metus eget,
                        ornare tincidunt quam</p>
                    <p>Nam leo lacus, <code>tempus</code> ac metus eget, <code>/ornare/tincidunt</code> quam. Nam leo
                        lacus, tempus ac metus eget,
                        ornare tincidunt quam</p>
                    <figure>
                        <img src="/assets/images/doc-9.png" alt="documentation_image_9">
                    </figure>

                    <h4>Install the Angular CLI</h4>
                    <p>ultrices quis quis lectus. Donec rhoncus pellentesque nulla non <code>fringilla</code>.</p>
                    <p>Quisque sit amet turpis sollicitudin libero viverra <code>viverra</code> imperdiet at nisl.
                        <code>Fusce</code> hendrerit</p>
                    <figure>
                        <img src="/assets/images/doc-10.png" alt="documentation_image_10">
                    </figure>
                    <p>Quisque sit amet turpis <code>viverra</code> imperdiet at nisl. hendrerit</p>
                    <div class="cmd-box">
                        <code>heroes = HEROES</code>
                    </div>

                    <h4>List for ngFor</h4>
                    <p>Nam leo lacus, <code>tempus</code> ac metus eget, ornare tincidunt quam.</p>
                    <ul>
                        <li>rhoncus <code>id</code> pellentesque nulla non</li>
                        <li>Nam leo lacus, tempus ac metus eget(<code>id</code>)</li>
                        <li>Nam leo <code>(li)</code>lacus, tempus ac <code>(ul)</code> metus eget viverra</li>
                        <li>ultrices quis quis lectus. Donec rhoncus pellentesque nulla non</li>
                    </ul>
                    <p>ultrices quis quis lectus:</p>
                    <figure>
                        <img src="/assets/images/doc-11.png" alt="documentation_image_11">
                    </figure>

                    <p>Lorem <a href="">ultrices</a> quis quis lectus. Donec rhoncus pellentesque nulla non</p>
                    <p>Lorem dolor emet</p>
                    <ul>
                        <li><code>(li)</code> pellentesque nulla non</li>
                        <li><code>Namse</code> leo lacus, tempus ac metus eget<code>vilelank</code></li>
                        <li><code>ultrices</code> quis quis lectus. Donec rhoncus pellentesque nulla non</li>
                    </ul>

                    <div class="sub-section sub-section-or">
                        <p>The <code>ng serve</code> command builds the app, starts the development server, watches the
                            source files,
                            and rebuilds the app as you make changes to those files.
                        </p>
                        <p>
                            The <code>--open</code> flag opens a browser to <code>http://localhost:4200/.</code>
                        </p>
                    </div>

                    <h4>stylo ipso lorem doer</h4>
                    <p>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                        libero elementum, a rhoncus augue placerat.</p>
                    <p>Morbi <a href="">molestie</a> vulputate sem id rutrum. Quisque auctor maximus vulputate.
                        Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</p>
                    <p>Vestibulum ante ipsum primis in <code>faucibus</code> orci luctus et ultrices posuere cubilia
                        Curae Fusce id felis varius.</p>
                    <p>Quisque ut consectetur lorem. Suspendisse hendrerit risus non mattis gravida. Nunc nec tempor
                        ipsum, nec condimentum purus. Morbi -molestie vulputate sem id rutrum.</p>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus
                        aliquet odio, at lobortis purus sapien ac est. Maecenas sem dui, <code>bibendum</code> nec mi
                        in.
                    </p>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse <code>hendrerit</code> risus non mattis
                        gravida. Nunc nec tempor
                        ipsum, <code>nec</code> condimentum purus. Morbi <code>-molestie</code> vulputate sem id rutrum.
                    </p>
                    <figure>
                        <img src="/assets/images/doc-12.png" alt="documentation_image_12">
                    </figure>
                    <p>Quisque ut <code>consectetur lorem</code>. Suspendisse hendrerit risus non mattis
                        <code>gravida</code>. Nunc nec tempor
                        ipsum, nec condimentum purus. Morbi -molestie vulputate <a href="">sem id rutrum</a>.
                    </p>
                    <div class="sub-section sub-section-or">
                        <p>The ng serve <code>@command</code> builds the app, starts the development server, watches the
                            source files, and rebuilds the app as you make changes to those files. The
                            <code>HeroesComponent</code> flag opens a browser to at lobortis purus sapien ac est.
                        </p>
                    </div>

                    <h4>Lorem/Ipsum</h4>
                    <p>Vestibulum ante ipsum primis in <b>faucibus</b> orci luctus et ultrices posuere cubilia
                        Curae Fusce id felis varius. uspendisse hendrerit <b>risus</b> non mattis.
                    </p>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

                    <h6>Vivamus faucibus nunc sapien</h6>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus.</p>
                    <figure>
                        <img src="/assets/images/doc-13.png" alt="documentation_image_13">
                    </figure>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>

                </div>

                <div class="sub-div document-page-5" id="fundamental_sub_5">
                    <h3>(5) Funda/facusbis nuncspaien</h3>
                    <p>Lorem ipsum dolor sit amet, <code>consectetur</code> adipiscing elit nunc sapien, commodo rhoncus
                        ipsum.</p>
                    <p>The ng serve command builds the app, starts the development server, watches the
                        source files, and rebuilds the app as you make changes to those files. The
                        HeroesComponent flag opens a browser to at lobortis purus sapien ac est.
                    </p>

                    <h4>Lorem Ipsum <code>HeroDetailComponent</code></h4>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse hendrerit risus non mattis</p>
                    <div class="code-cmd">
                        <code>ng generate component hero-detail</code>
                    </div>
                    <p>ultrices quis quis <code>lectus</code>. Donec rhoncus pellentesque nulla non
                        <code>fringilla</code>.</p>

                    <h6>Write Lorem Pdorle</h6>
                    <p>Donec <code>rhoncus</code> pellentesque nulla non fringilla. Sed interdum nisi malesuada
                        malesuada imperdiet.
                        Maecenas tincidunt enim est, nec aliquet massa vehicula a</p>
                    <p>Lorem ipsum dolor sit amet, <code>consectetur</code> adipiscing elit nunc sapien, commodo <code>consectetur</code>rhoncus
                        ipsum.
                    </p>
                    <p>Vestibulum <code>ante</code> ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae.</p>
                    <figure>
                        <img src="/assets/images/doc-14.png" alt="documentation_image_14">
                    </figure>

                    <h4>Lorem Ipsum <code>HeroDetailComponent</code></h4>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse hendrerit risus non mattis</p>
                    <figure>
                        <img src="/assets/images/doc-15.png" alt="documentation_image_15">
                    </figure>
                    <h6>Vivamus faucibus nunc sapien</h6>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus.</p>
                    <figure>
                        <img src="/assets/images/doc-13.png" alt="documentation_image_13">
                    </figure>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>
                </div>
            </div>

            <div class="tutorial fundamental technique" id="topic-3">
                <div class="sub-div document-page-1" id="technique_sub_1">
                    <h3>(1)Technique: Ipsum Dorem plwsal Iopen</h3>
                    <p>Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>. Aenean lobortis aliquet eros et
                        suscipit. Pellentesque nulla odio, luctus sit amet nunc eu, tincidunt luctus ligula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis aliquet eros et
                        suscipit. Pellentesque nulla odio, luctus sit amet nunc eu, tincidunt luctus ligula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit: - </p>
                    <ul>
                        <li>Vivamus faucibus nunc sapien, commodo rhoncus ipsum hendrerit non.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Cras vel nisi sit amet massa tempus porta a vitae erat</li>
                        <li>Vivamus faucibus nunc sapien, commodo rhoncus ipsum hendrerit non.</li>
                        <li>Cras vel nisi sit amet massa tempus porta a vitae erat</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.
                        <a href="">Lorem Ipsum</a> / <a href="">Download lorem</a> consectetur adipiscing elit nunc
                        sapien.
                    </p>
                    <h4>Commodo rhoncus ipsum hendrerit</h4>
                    <figure>
                        <img src="/assets/images/doc-1.jpg" alt="documentation_image_1">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <figure>
                        <img src="/assets/images/doc-2.png" alt="documentation_image_2">
                    </figure>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>
                    <br>
                    <figure>
                        <img src="/assets/images/doc-3.png" alt="documentation_image_3">
                    </figure>
                </div>

                <div class="sub-div document-page-2" id="technique_sub_2">
                    <h3>(2) Technique: facusbis nunc spaien</h3>
                    <h4>Install the Angular CLI</h4>
                    <p>Consectetur adipiscing elit nunc sapien</p>
                    <div class="code-cmd">
                        <code>npm install -g @angular/cli</code>
                    </div>

                    <h4>Create a new application</h4>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command.</p>
                    <div class="code-cmd">
                        <code>ng new angular-tour-of-heroes</code>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <h4>Serve the application</h4>
                    <p>Go to the project directory and launch the application.</p>
                    <div class="code-cmd">
                        <code>cd angular-tour-of-heroes</code>
                        <code>ng serve --open</code>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <div class="sub-section">
                        <p>The <code>ng serve</code> command builds the app, starts the development server, watches the
                            source files,
                            and rebuilds the app as you make changes to those files.
                        </p>
                        <p>
                            The <code>--open</code> flag opens a browser to <code>http://localhost:4200/.</code>
                        </p>
                    </div>
                    <p>You should see the app running in your browser.</p>

                    <h4>Angular components</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo <code>rhoncus
                        ipsum.</code></p>
                    <p>Donec rhoncus pellentesque nulla non fringilla. Sed interdum nisi malesuada malesuada imperdiet.
                        Maecenas tincidunt enim est, nec aliquet massa vehicula a</p>

                    <h4>Change the application title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo
                        <code>rhoncus/ipsum.</code></p>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>
                    <ol>
                        <li><code>Maecenas tincidunt .ts</code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenas tincidunt .html</code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenas tincidunt .css</code>— the component class code, written in TypeScript.</li>
                    </ol>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et dolor vehicula auctor.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus (nunc sapien nunc)
                        </header>
                        <code>title = <span>'Tour of Heroes'</span></code>
                    </div>

                    <p>Nam leo lacus, tempus ac metus eget, (<code>ornare tincidunt quam</code>.) Aliquam dapibus
                        tincidunt ipsum.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus nunc sapien nunc (template)
                        </header>
                        <code>
                            < h1> <span>(title)</span>< /h1>
                        </code>
                    </div>
                </div>

                <div class="sub-div document-page-3" id="technique_sub_3">
                    <h3>(3) Technique: facusbis nunc spaien</h3>
                    <h4>Install the Angular CLI</h4>

                    <p>Consectetur adipiscing elit nunc sapien</p>
                    <div class="code-cmd">
                        <code>npm install -g @angular/cli</code>
                    </div>

                    <h4>Create a new application</h4>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command.</p>
                    <div class="code-cmd">
                        <code>ng new angular-tour-of-heroes</code>
                    </div>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et
                        dolor vehicula auctor.</p>
                    <div class="cmd-box">
                        <header>
                            Vivamus faucibus (nunc sapien nunc)
                        </header>
                        <code>title = <span>'Tour of Heroes'</span></code>
                    </div>

                    <p>Vivamus faucibus nunc sapien, <code>commodo rhoncus ipsum.html</code> hendrerit non. Quisque
                        ullamcorper lorem et dolor vehicula auctor.</p>
                    <figure>
                        <img src="/assets/images/doc-4.png" alt="documentation_image_4">
                    </figure>

                    <p>Lorem <code>ipsum</code> dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus
                        <code>@ipsum</code>.</p>
                    <p><code>@Component </code> is a decorator function that specifies the Angular metadata for the
                        component.</p>
                    <p>Create a new project named <code>angular-tour-of-heroes</code> with this CLI command: </p>
                    <ol>
                        <li><code>Maecenas </code>— the component class code, written in TypeScript.</li>
                        <li><code>Maecenasurl </code>— the component class code, written in TypeScript.</li>
                        <li><code>tincidunturls</code>— the component class code, written in TypeScript.</li>
                    </ol>
                    <p>Lorem ipsum dolor sit amet, <a href="">Lorem Ipsum </a> <code>consectetur</code> adipiscing elit
                        nunc sapien, <a href="">Download lorem </a> commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>

                    <h4>Add a Hero Property</h4>
                    <p>Add a hero property to the <code>HeroesComponent</code> for a hero named "Windstorm."</p>
                    <div class="cmd-box">
                        <header>
                            heroes.component.ts (hero property)
                        </header>
                        <code>hero = <span>'Windstorm'</span></code>
                    </div>

                    <h4>Maecenas tincidunt enim</h4>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <a href="">Quisque </a> sit
                        amet turpis sollicitudin libero <code>viverra</code></p>
                    <div class="cmd-box">
                        <header>
                            heroes.component.ts (hero property)
                        </header>
                        <code><span>hero</span></code>
                    </div>

                    <h4>Maecenas tincidunt <em>slekls winor</em> enim</h4>
                    <p>Lorem ipsum dolor sit amet, <a href="">Lorem Ipsum </a> <code>consectetur</code> adipiscing elit
                        nunc sapien, <a href="">Download lorem </a> commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <a href="">Quisque </a> sit
                        amet turpis sollicitudin libero <code>viverra</code>
                    </p>
                    <figure>
                        <img src="/assets/images/doc-5.png" alt="documentation_image_5">
                    </figure>

                    <h4>Maecenas tincidunt winor enim</h4>
                    <p>Lorem <code>ipsum</code> dolor sit amet, Lorem Ipsum <code>consectetur</code> adipiscing elit
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                        consectetur adipiscing elit nunc sapien.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <code>Quisque </code> sit
                        amet turpis sollicitudin libero <code>viverra</code>
                    </p>
                    <figure>
                        <img src="/assets/images/doc-6.png" alt="documentation_image_6">
                    </figure>

                    <p>Lorem <code>ipsum</code> dolor sit amet, Lorem Ipsum <code>consectetur</code> adipiscing elit
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                    </p>
                    <p>Cras vel nisi sit amet <code>massatempus</code> porta a vitae erat. <code>Quisque </code> sit
                        amet.
                    </p>
                    <p><code>Cras</code> vel nisi sit amet massatempus porta a vitae erat. Quisque sit amet.</p>
                    <figure>
                        <img src="/assets/images/doc-7.png" alt="documentation_image_7">
                    </figure>


                    <h4>Show the object Hero</h4>
                    <p>Lorem ipsum dolor sit amet, Lorem Ipsum <code>id</code> adipiscing <code>name</code>
                        nunc sapien, Download lorem commodo rhoncus ipsum.
                    </p>
                    <figure>
                        <img src="/assets/images/doc-8.png" alt="documentation_image_8">
                    </figure>

                    <h4>The missing <em>FormModule</em></h4>
                    <p>Notice that the app stopped working when you added <code>-ngmodel</code>.</p>
                    <div class="code-cmd">
                        <code>Template parse errors:</code>
                        <code>Can't bind to 'ngModel' since it isn't a known property of 'input'.</code>
                    </div>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>

                </div>

                <div class="sub-div document-page-4" id="technique_sub_4">
                    <h3>(4) Technique: facusbis nunc spaien</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc sapien, commodo rhoncus ipsum.</p>

                    <h4>Install the Angular CLI</h4>
                    <p>Nam leo lacus, tempus ac metus eget, ornare tincidunt quam.</p>
                    <p>Nam leo lacus, tempus ac metus eget, ornare tincidunt quam. Nam leo lacus, tempus ac metus eget,
                        ornare tincidunt quam</p>
                    <p>Nam leo lacus, <code>tempus</code> ac metus eget, <code>/ornare/tincidunt</code> quam. Nam leo
                        lacus, tempus ac metus eget,
                        ornare tincidunt quam</p>
                    <figure>
                        <img src="/assets/images/doc-9.png" alt="documentation_image_9">
                    </figure>

                    <h4>Install the Angular CLI</h4>
                    <p>ultrices quis quis lectus. Donec rhoncus pellentesque nulla non <code>fringilla</code>.</p>
                    <p>Quisque sit amet turpis sollicitudin libero viverra <code>viverra</code> imperdiet at nisl.
                        <code>Fusce</code> hendrerit</p>
                    <figure>
                        <img src="/assets/images/doc-10.png" alt="documentation_image_10">
                    </figure>
                    <p>Quisque sit amet turpis <code>viverra</code> imperdiet at nisl. hendrerit</p>
                    <div class="cmd-box">
                        <code>heroes = HEROES</code>
                    </div>

                    <h4>List for ngFor</h4>
                    <p>Nam leo lacus, <code>tempus</code> ac metus eget, ornare tincidunt quam.</p>
                    <ul>
                        <li>rhoncus <code>id</code> pellentesque nulla non</li>
                        <li>Nam leo lacus, tempus ac metus eget(<code>id</code>)</li>
                        <li>Nam leo <code>(li)</code>lacus, tempus ac <code>(ul)</code> metus eget viverra</li>
                        <li>ultrices quis quis lectus. Donec rhoncus pellentesque nulla non</li>
                    </ul>
                    <p>ultrices quis quis lectus:</p>
                    <figure>
                        <img src="/assets/images/doc-11.png" alt="documentation_image_11">
                    </figure>

                    <p>Lorem <a href="">ultrices</a> quis quis lectus. Donec rhoncus pellentesque nulla non</p>
                    <p>Lorem dolor emet</p>
                    <ul>
                        <li><code>(li)</code> pellentesque nulla non</li>
                        <li><code>Namse</code> leo lacus, tempus ac metus eget<code>vilelank</code></li>
                        <li><code>ultrices</code> quis quis lectus. Donec rhoncus pellentesque nulla non</li>
                    </ul>

                    <div class="sub-section sub-section-or">
                        <p>The <code>ng serve</code> command builds the app, starts the development server, watches the
                            source files,
                            and rebuilds the app as you make changes to those files.
                        </p>
                        <p>
                            The <code>--open</code> flag opens a browser to <code>http://localhost:4200/.</code>
                        </p>
                    </div>

                    <h4>stylo ipso lorem doer</h4>
                    <p>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                        libero elementum, a rhoncus augue placerat.</p>
                    <p>Morbi <a href="">molestie</a> vulputate sem id rutrum. Quisque auctor maximus vulputate.
                        Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</p>
                    <p>Vestibulum ante ipsum primis in <code>faucibus</code> orci luctus et ultrices posuere cubilia
                        Curae Fusce id felis varius.</p>
                    <p>Quisque ut consectetur lorem. Suspendisse hendrerit risus non mattis gravida. Nunc nec tempor
                        ipsum, nec condimentum purus. Morbi -molestie vulputate sem id rutrum.</p>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus
                        aliquet odio, at lobortis purus sapien ac est. Maecenas sem dui, <code>bibendum</code> nec mi
                        in.
                    </p>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse <code>hendrerit</code> risus non mattis
                        gravida. Nunc nec tempor
                        ipsum, <code>nec</code> condimentum purus. Morbi <code>-molestie</code> vulputate sem id rutrum.
                    </p>
                    <figure>
                        <img src="/assets/images/doc-12.png" alt="documentation_image_12">
                    </figure>
                    <p>Quisque ut <code>consectetur lorem</code>. Suspendisse hendrerit risus non mattis
                        <code>gravida</code>. Nunc nec tempor
                        ipsum, nec condimentum purus. Morbi -molestie vulputate <a href="">sem id rutrum</a>.
                    </p>
                    <div class="sub-section sub-section-or">
                        <p>The ng serve <code>@command</code> builds the app, starts the development server, watches the
                            source files, and rebuilds the app as you make changes to those files. The
                            <code>HeroesComponent</code> flag opens a browser to at lobortis purus sapien ac est.
                        </p>
                    </div>

                    <h4>Lorem/Ipsum</h4>
                    <p>Vestibulum ante ipsum primis in <b>faucibus</b> orci luctus et ultrices posuere cubilia
                        Curae Fusce id felis varius. uspendisse hendrerit <b>risus</b> non mattis.
                    </p>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

                    <h6>Vivamus faucibus nunc sapien</h6>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus.</p>
                    <figure>
                        <img src="/assets/images/doc-13.png" alt="documentation_image_13">
                    </figure>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>

                </div>

                <div class="sub-div document-page-5" id="technique_sub_5">
                    <h3>(5) Technique/facusbis nuncspaien</h3>
                    <p>Lorem ipsum dolor sit amet, <code>consectetur</code> adipiscing elit nunc sapien, commodo rhoncus
                        ipsum.</p>
                    <p>The ng serve command builds the app, starts the development server, watches the
                        source files, and rebuilds the app as you make changes to those files. The
                        HeroesComponent flag opens a browser to at lobortis purus sapien ac est.
                    </p>

                    <h4>Lorem Ipsum <code>HeroDetailComponent</code></h4>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse hendrerit risus non mattis</p>
                    <div class="code-cmd">
                        <code>ng generate component hero-detail</code>
                    </div>
                    <p>ultrices quis quis <code>lectus</code>. Donec rhoncus pellentesque nulla non
                        <code>fringilla</code>.</p>

                    <h6>Write Lorem Pdorle</h6>
                    <p>Donec <code>rhoncus</code> pellentesque nulla non fringilla. Sed interdum nisi malesuada
                        malesuada imperdiet.
                        Maecenas tincidunt enim est, nec aliquet massa vehicula a</p>
                    <p>Lorem ipsum dolor sit amet, <code>consectetur</code> adipiscing elit nunc sapien, commodo <code>consectetur</code>rhoncus
                        ipsum.
                    </p>
                    <p>Vestibulum <code>ante</code> ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                        Curae.</p>
                    <figure>
                        <img src="/assets/images/doc-14.png" alt="documentation_image_14">
                    </figure>

                    <h4>Lorem Ipsum <code>HeroDetailComponent</code></h4>
                    <p>Quisque ut <code>consectetur</code> lorem. Suspendisse hendrerit risus non mattis</p>
                    <figure>
                        <img src="/assets/images/doc-15.png" alt="documentation_image_15">
                    </figure>
                    <h6>Vivamus faucibus nunc sapien</h6>
                    <p>Curabitur <code>porta</code> eu enim quis iaculis. Cras porttitor, magna quis dapibus vulputate,
                        tortor purus.</p>
                    <figure>
                        <img src="/assets/images/doc-13.png" alt="documentation_image_13">
                    </figure>

                    <h4>Summary</h4>
                    <ul>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Vestibulum venenatis consectetur sapien, a venenatis enim laoreet nec. Donec luctus nisl ac
                            libero elementum.
                        </li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                        <li>Phasellus viverra nibh vitae justo porta, quis pretium dolor maximus.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>