<section class="featured-block no-padding">
  <div class="bg-img">
    <img src="/assets/images/featured_background1.jpg" alt="featured-background">
  </div>
  <div class="v-middle-wrapper">
    <div class="v-middle-inner container">
      <div class="v-middle ">
        <h3>Lorem ipsum dolor</h3>
        <div class="col-three-outer">
          <div class="col-three">
            <div class="img-icon">
              <img src="/assets/images/feature_icon1.png" alt="feature Key icon">
            </div>
            <div class="info-text">
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h6>
            </div>
          </div>
          <div class="col-three">
            <div class="img-icon">
              <img src="/assets/images/feature_icon2.png" alt="feature Key icon">
            </div>
            <div class="info-text">
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h6>
            </div>
          </div>
          <div class="col-three">
            <div class="img-icon">
              <img src="/assets/images/feature_icon3.png" alt="feature Key icon">
            </div>
            <div class="info-text">
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h6>
            </div>
          </div>
          <div class="col-three">
            <div class="img-icon">
              <img src="/assets/images/feature_icon4.png" alt="feature Key icon">
            </div>
            <div class="info-text">
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h6>
            </div>
          </div>
          <div class="col-three">
            <div class="img-icon">
              <img src="/assets/images/feature_icon5.png" alt="feature Key icon">
            </div>
            <div class="info-text">
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h6>
            </div>
          </div>
          <div class="col-three">
            <div class="img-icon">
              <img src="/assets/images/feature_icon6.png" alt="feature Key icon">
            </div>
            <div class="info-text">
              <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

