@import "../../../assets/styles/common/variables";

/*
 * Featured- Block css
 */

.featured-block {
  .bg-img {
    height: 677px;
    @include tablet-down  {
      height: 1276px;
    }
    img {
      min-height: 100%;
      min-width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  h3 {
    color: $font-one;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      background: url(../../../assets/images/heading-border.png) no-repeat;
      width: 129px;
      height: 7px;
      bottom: 0;
      left: calc( 50% - 65px);
    }
  }
  .col-three-outer {
    float: left;
    width: 100%;
    .col-three {
      margin-top: 20px;
      padding: 10px 30px;
      @include tablet-down  {
        width: 100%;
      }
      h6 {
        color: $font-one;
        margin: 24px auto 8px;
      }
    }
  }
}
