@import "../../../assets/styles/common/variables";

/*
 * Info-block css
 */
.we-intro-block {
  padding: 30px 0;
  background-color: $base-two;
  .wrapper {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    .content-960 {
      h2 {
        color: $font-one;
      }
      p {
        padding: 20px 0;
        margin: 0;
        color: $font-one;
        @include desktop-down {
          padding: 10px 0;
        }
      }
      max-width: 960px;
      margin: 0 auto;
    }
    .bg-img {
      max-width: 600px;
      margin: 0 auto;
      padding: 50px 0 20px;
      @include tablet {
        padding: 30px 0 20px;
      }
      @include tablet-down {
        padding: 30px 0 0;
      }
    }
  }
}
