<section class="text-center we-intro-block">
  <div class="wrapper">
    <div class="content-960">
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="bg-img">
      <img src="assets/images/info_bg.png" alt="info_bg">
    </div>
  </div>
</section>