<section class="cta-banner">
    <div class="container">
        <div class="v-middle-inner">
            <div class="v-middle" *ngFor="let item of items">
                    <h3>{{ item.title }}</h3>
                <div class="button-wrap">
                    <a href="{{ item.link_url }}" class="cta-btn">{{ item.link_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
