<section class="cta-banner bg-gray">
  <div class="container">
    <div class="v-middle-inner">
      <div class="v-middle">
        <h3>Lorem ipsum dolor sit amet, dolor sit amet</h3>
        <div class="button-wrap">
          <a href="#" class="cta-btn">Lorem ipsum</a>
        </div>
      </div>
    </div>
  </div>
</section>