@import "../../../assets/styles/common/variables";

/*
 * Cta-Banner css
 */

.cta-banner {
  padding: 60px 0;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  .container {
    .v-middle-inner {
      padding: 20px 0;
      h3 {
        color: #919da8;
        float: left;
        padding-top: 8px;
        @include tablet-down {
          max-width: 500px;
          float: none;
          margin: 0 auto 20px;
        }
      }
      .button-wrap {
        display: inline-block;
        float: right;
        @include tablet-down {
          float: none;
        }
        .cta-btn {
          display: inline-block;
          border: 1px solid $primary-one;
          padding: 15px 35px;
          background: $primary-one;
          color: $font-one;
          font-weight: 600;
          @include transition(all, 0.2s, ease-in);
          &:hover {
            background: #2e8f9e;
          }
        }
      }
    }
  }
}
