<section class="news-event-post">
    <div class="container">
        <div class="title-header text-center">
            <h4 id="title-1" class="active title">News</h4>
            <h4 id="title-2" class="title">Events</h4>
        </div>
        <div class="column-wrapper">

            <!--Col-three Left-side HTML code starts here-->
            <div class="col-three search-side">
                <div class="search-head">
                    <span class="search-box">Search</span>
                </div>
                <div class="search-bar">
                    <form class="search-form">
                        <input class="search-field" type="text" name="search" placeholder="Enter your keywords...">
                        <label class="submit">
                            <input type="submit" class="submit" value="go">
                            <i class="fa fa-caret-right go-arrow" aria-hidden="true"></i>
                        </label>
                    </form>
                </div>
                <div class="slide-toggle">
                    <details class="event-box" open>
                        <summary>Filter by Type</summary>
                        <div class="checkbox">
                            <input type="checkbox" value="Lorem Ipsum" name="check" class="filter-1">
                            <label for="Agriculture">Lorem Ipsum 1</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" value="Lorem Ipsum" name="check" class="filter-2">
                            <label for="Agriculture">Lorem Ipsum 2</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" value="Lorem Ipsum" name="check" class="filter-3">
                            <label for="Agriculture">Lorem Ipsum 3</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" value="Lorem Ipsum" name="check" class="filter-4">
                            <label for="Agriculture">Lorem Ipsum 4</label>
                        </div>
                    </details>
                </div>
            </div>


            <!--col-seven HTML code starts here -->
            <div class="col-seven">
                <div class="grid">
                    <div class="grid-item news">
                        <span class="post-type">News</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.14.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item news">
                        <span class="post-type">News</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Lorem ipsum dolor sit amet</h5>
                            </a>
                            <span class="date">11.22.2017</span>
                            <p>Sed risus ultricies tristique nulla. Ultrices mi tempus imperdiet.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item news">
                        <span class="post-type">News</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.17.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item events">
                        <span class="post-type">Events</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.20.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div><div class="grid-item news">
                    <span class="post-type">News</span>
                    <div class="grid-content">
                        <a href="">
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </a>
                        <span class="date">11.22.2017</span>
                        <p>Sed risus ultricies tristique nulla. Ultrices mi tempus imperdiet.
                        </p>
                    </div>
                </div>
                    <div class="grid-item events">
                        <span class="post-type">Events</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.24.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item events">
                        <span class="post-type">Events</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.27.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item news">
                        <span class="post-type">News</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.27.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item events">
                        <span class="post-type">Events</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.27.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item news">
                        <span class="post-type">News</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.27.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                    <div class="grid-item events">
                        <span class="post-type">Events</span>
                        <div class="grid-content">
                            <a href="">
                                <h5>Imperdiet nulla malesuada pellentesque</h5>
                            </a>
                            <span class="date">11.27.2017</span>
                            <p>Laoreet non curabitur gravida arcu ac tortor dignissim.
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- Col seven ends here -->
        </div>
        <div class="load-more">
            <button type="button">Load More</button>
        </div>
    </div>
</section>