@import "../../../assets/styles/common/variables";

/*
 * News-Event-Post css
 */

.news-event-post {
  .title-header {
    padding: 10px 0;
    margin-bottom: 40px;
    overflow: hidden;
    @include tablet-down {
      margin-bottom: 10px;
    }
    h4 {
      float: left;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
      width: 50%;
      height: 50px;
      padding: 10px 0;
      @include transition(all, 0.2s, ease-in);
      @include phone-down {
        height: 35px;
        padding: 5px 0;
      }
      &.active {
        &#title-1 {
          background: $primary-one;
        }
        &#title-2 {
          background: $primary-one;
        }
      }
    }
    #title-1 {
      color: $font-one;
    }
    #title-2 {
      background: #1E2633;
      color: $font-one;
    }
  }
  .column-wrapper {
    .search-head {
      .search-box {
        display: block;
        font-weight: 500;
        color: #919da8;
      }
    }
    .col-three {
      &.search-side {
        width: 30%;
        padding-right: 15px;
        @include tablet-down {
          width: 100%;
          padding-right: 0;
        }
        .search-bar {
          position: relative;
          .search-field {
            width: 100%;
            font-size: 16px;
            padding: 10px;
            margin: 10px 0;
            outline: none;
            border: none;
            background: #f2f2f2;
            @include tablet {
              font-size: 14px;
            }
          }
          label {
            position: absolute;
            top: 10px;
            right: 0;
            height: 38px;
            width: 40px;
            .submit {
              height: 100%;
              width: 100%;
              border: 0;
              outline: none;
              cursor: pointer;
              text-indent: -125px;
              font-size: 0;
              background-color: $primary-one;
              border-radius: 0;
            }
            .go-arrow {
              position: absolute;
              top: 4px;
              right: 14px;
              font-size: 30px;
              color: $font-one;
            }
          }
        }
      }
      .slide-toggle {
        margin: 20px 0;
        details {
          color: #696868;
          summary {
            color: #696868;
            font-weight: 600;
            outline: none;
          }
          .checkbox {
            margin: 10px 0;
            input {
              position: relative;
              background: #f2f2f2;
              font-size: 16px;
              border: none;
              width: 28%;
              height: 40px;
              padding: 0 10px 0 12px;
              outline: none;
            }
            input[type=checkbox] {
              -webkit-appearance: none;
              background: transparent;
              width: auto;
              padding: 0;
              height: 13px;
              float: left;
              &:before {
                content: "";
                background-color: #cbcdda;
                height: 13px;
                width: 13px;
                display: block;
                position: absolute;
                top: 1px;
              }

            }
            label {
              color: #58595f;
              cursor: pointer;
              font-size: 16px;
              display: inline-block;
              padding-left: 28px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  .col-seven {
    @include tablet-down {
      width: 100%;
    }
    .grid {
      float: left;
      width: 100%;
      .grid-item {
        position: relative;
        border: 1px solid #eaeaea;
        margin-bottom: 10px;
        background: #f9f9f9;
        .post-type {
          position: absolute;
          top: 0;
          left: 25px;
          background: #696868;
          padding: 3px 7px;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 800;
        }
        .grid-content {
          padding: 20px 25px;
          @include phone-down {
            padding: 15px;
          }
          a {
            display: block;
            margin: 10px 0;
            h5 {
              color: $primary-one;
              font-weight: 700;
              @include transition(all, 0.2s, ease-in);
              @include phone-down {
                font-size: 16px;
              }
              &:hover {
                color: #2e8f9e;
              }
            }
          }
          .date {
            margin: 10px 0;
            display: block;
            position: relative;
            &:after {
              content: '';
              position: absolute;
              width: 33px;
              height: 3px;
              background: #56c7d9;
              bottom: -15px;
              left: 0;
            }
          }
          p {
            font-size: 16px;
            font-style: italic;
            margin: 20px 0;
            @include phone-down {
              font-size: 14px;
              margin: 20px 0 5px;
            }
          }
        }
      }
    }
  }
  .load-more {
    text-align: center;
    margin-top: 10px;
    button {
      font-size: 18px;
      padding: 11px 25px;
      display: inline-block;
      border-radius: 0;
      background: #56c7d9;
      color: #fff;
      cursor: pointer;
      @include transition(all, 0.2s, ease-in);
      &:hover {
        background: #2e8f9e;
      }
    }
  }
}
