<app-hero-slider [items]="hero_slider"></app-hero-slider>
<app-intro [item]="intro"></app-intro>
<app-col-with-icon></app-col-with-icon>
<app-col-image-cta [items]="col_image_cta"></app-col-image-cta>
<app-col-four [items]="col_four_block"></app-col-four>
<app-testimonial [items]="testimonial"></app-testimonial>
<app-logo-grid [items]="logo_grid"></app-logo-grid>
<app-cta [items]="cta"></app-cta>
