@import "../../../assets/styles/common/variables";

/*
TESTIMONIAL CSS
 */

.testimonial {
  padding: 60px 0 80px;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  h2 {
    text-align: center;
    margin: 20px 0 50px;
    @include tablet-down {
      margin: 20px 0 30px;
    }
  }
  .column-wrapper {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    .testimonial-head {
      .img-circle {
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          display: inline-block;
        }
      }
      h6 {
        color: #525C71;
        line-height: 1.7;
      }
      .details {
        font-size: 14px;
        font-weight: 600;
        a {
          font-size: 14px;
          font-weight: 700;
          color: $primary-one;
          @include transition(all, 0.2s, ease-in);
          &:hover {
            color: #2e8f9e;
          }
        }
      }
    }

    .testimonial-text {
      h4 {
        color: #6F7D8C;
        font-size: 28px;
        font-weight: 500;
        margin: 20px 0 10px;
        @include tablet {
          font-size: 20px;
        }
        @include tablet-down {
          font-size: 18px;
        }
      }
      p {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 600;
        color: #919da8;
        @include tablet-down {
          max-width: 400px;
          margin: 0 auto;
        }
        @include phablet-down {
          font-size: 14px;
        }
      }
    }
  }
  a.slide-control {
    color: $primary-one;
    position: absolute;
    top: 50%;
  }
  .left-arrow {
    left: 50px;
    @include desktop-down {
      left: 5%;
    }
  }
  .right-arrow {
    right: 50px;
    @include desktop-down {
      right: 5%;
    }
  }
}