<section class="testimonial">
    <div class="container">
        <h2>Lorem Ipsum</h2>
        <div class="column-wrapper">
          <div *ngFor="let item of items">
            <div class="testimonial-head text-center">
                <div class="img-circle">
                  <img src="{{ item.image_url }} " alt="{{ item.image_alt }}">
                </div>
                <h6>{{ item.name }},</h6>
                <span class="details">
                    <em>Title</em> |
                    <a href="#">Company Name</a>
                </span>
            </div>
            <div class="testimonial-text text-center">
                <h4>{{ item.title }}</h4>
                <p>{{ item.blurb }}</p>
            </div>
        </div>
        </div>
       <!--<a href="#" class="left-arrow slide-control">-->
            <!--<span class="fa fa-angle-left fa-2x" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--<a href="#" class="right-arrow slide-control">-->
            <!--<span class="fa fa-angle-right fa-2x" aria-hidden="true"></span>-->
        <!--</a> -->
    </div>
</section>
