@import "../../../assets/styles/common/variables";

/*
*  Col-Two-With-Video
*/

.col-two-with-video {
  background: $base-one;
  .col-two-outer {
    float: left;
    width: 100%;
    padding: 63px 0 57px;
    position: relative;
    @include tablet-down {
      padding: 30px 0;
    }

    @include tablet {
      padding: 40px 0;
    }
    .col-two {
      .content {
        padding-right: 50px;
        @include tablet-down {
          margin-bottom: 30px;
        }
        h2 {
          font-size: 36px;
          @include tablet-down {
            font-size: 24px;
          }
          @include tablet {
            font-size: 26px;
          }
          @include desktop-mid {
            font-size: 30px;
          }
        }
        p {
          margin: 15px 0;
        }
      }
      &:nth-child(1) {
        width: 44.8%;
        @include tablet-down {
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 55.2%;
        @include tablet-down {
          width: 100%;
        }
        @include phone {

        }
        .content-left {
          float: left;
          width: 48%;
          @include phone-down {
            width: 100%;
            margin-bottom: 20px;
          }
        }
        .content-right {
          float: right;
          width: 48%;
          @include phone-down {
            width: 100%;
          }


        }
        a {
          display: block;
          .bg-img {
            height: 200px;
            position: relative;
            border-radius: 16px 0;
            @include tablet {
              height: 160px;
            }
            @include tablet-down {
              float: left;
            }
            &:after {
              content: "";
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              -webkit-box-shadow: inset 0px 1px 71px 17px rgba(122, 116, 122, 0.25);
              -moz-box-shadow: inset 0px 1px 71px 17px rgba(122, 116, 122, 0.25);
              box-shadow: inset 0px 1px 71px 17px rgba(122, 116, 122, 0.25);
            }
          }
          .video-icon {
            img {
              margin: auto;
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              @include desktop-down {
                width: 60px;
              }
            }
          }
          p {
            font-size: 14px;
            margin: 12px 0 0;
            letter-spacing: 0.010em;
            @include tablet-down {
              float: left;
            }
          }
        }

      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: -moz-linear-gradient(left, rgba(211, 211, 211, 0) 0%, lightgray 10%, lightgray 90%, rgba(211, 211, 211, 0) 100%);
      background: -webkit-linear-gradient(left, rgba(211, 211, 211, 0) 0%, lightgray 10%, lightgray 90%, rgba(211, 211, 211, 0) 100%);
      background: linear-gradient(to right, rgba(211, 211, 211, 0) 0%, lightgray 10%, lightgray 90%, rgba(211, 211, 211, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d3d3d3', endColorstr='#00d3d3d3',GradientType=1 );
    }
    &:last-child {
      &:after {
        height: 0;
      }
    }
  }
}
