  <section class="col-two-with-video">
    <div class="container">
      <!--~DK make it visible once video overlay is working-->
      <!--<div class="col-two-outer">-->
        <!--<div class="col-two">-->
          <!--<div class="content">-->
            <!--<h2>lorem ipsum dolor</h2>-->
            <!--<p>Duis fermentum eleifend enim non interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>-->
            <!--<a href="#" class="link-arrow">Lorem ipsum dolor</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-two">-->
          <!--<div class="content-left">-->
            <!--<a href="#" class="video-play">-->
              <!--<div class="bg-img">-->
                <!--<img src="assets/images/talking_two_girls.jpg" alt="talking-two-girls">-->
                <!--<div class="video-icon">-->
                  <!--<img src="assets/images/play_video_button.png" alt="play-video-button">-->
                <!--</div>-->
              <!--</div>-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="content-right">-->
            <!--<a href="#" class="video-play"> -->
              <!--<div class="bg-img">-->
                <!--<img src="assets/images/talking_two_girls.jpg" alt="talking-two-girls">-->
                <!--<div class="video-icon">-->
                  <!--<img src="assets/images/play_video_button.png" alt="play-video-button">-->
                <!--</div>-->
              <!--</div>-->
              <!--<p>lorem ipsum dolor</p>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="col-two-outer">
        <div class="col-two">
          <div class="content">
            <h2>lorem ipsum dolor</h2>
            <p>Duis fermentum eleifend enim non interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <a href="#" class="link-arrow">lorem ipsum dolor</a>
          </div>
        </div>
        <div class="col-two">
          <div class="content-left">
            <a href="#">
              <div class="bg-img">
                <img src="assets/images/working_man.jpg" alt="working-man">
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
          <div class="content-right">
            <a href="#">
              <div class="bg-img">
               <img src="assets/images/working_man.jpg" alt="working-man">
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
