@import "../../../assets/styles/common/variables";

/*
 * CONTACT FORM css
 */

.col-four-icon {
  padding: 60px 0;
  .container {
    h2 {
      margin: 20px 0 40px;
    }
    .column-wrapper {
      text-align: center;
      .col-four {
        width: calc(25% - 20px);
        margin: 0 10px;
        color: #6F7D8C;
        cursor: pointer;
        @include phablet {
          width: calc(50% - 20px);
        }
        @include phablet-down {
          width: 100%;
          margin: 0;
        }
        &:hover {
          .icon-mark {
            color: $primary-one;
          }
          p {
            color: #505050;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        .icon-mark {
          @include transition(all, 0.4s, ease-in);

        }
        h6 {
          margin: 10px 0;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          @include transition(all, 0.4s, ease-in);
        }
      }
    }
  }
}