<section class="col-four-icon bg-gray">
    <div class="container">
        <h2 class="text-center">Lorem Ipsum Dolo Emet</h2>
        <div class="column-wrapper">
            <div class="col-four">
                <i class="fa fa-area-chart fa-3x icon-mark" aria-hidden="true"></i>
                <h6>Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </div>
            <div class="col-four">
                <i class="fa fa-file-image-o fa-3x icon-mark" aria-hidden="true"></i>
                <h6>Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </div>
            <div class="col-four">
                <i class="fa fa-map-signs fa-3x icon-mark" aria-hidden="true"></i>
                <h6>Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </div>
            <div class="col-four">
                <i class="fa fa-sitemap fa-3x icon-mark" aria-hidden="true"></i>
                <h6>Lorem Ipsum</h6>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</section>