@import "../../../assets/styles/common/variables";

/*
 * BLCOK-QUOTE css
 */

.block-quote {
  height: 300px;
  background: url(/assets/images/quote-bg.jpg) no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: #fff;
  @include phablet {
    height: 250px;
  }
  @include phablet-down {
    height: 200px;
  }
  .v-middle-wrapper {
    background: rgba(30, 38, 51, .6);
    h3 {
      max-width: 850px;
      margin: 0 auto 10px;
    }
    .author {
      font-style: italic;
      font-weight: 700;
    }
  }
}