<section class="block-quote">
    <div class="v-middle-wrapper">
        <div class="v-middle-inner">
            <div class="v-middle container">
                <h3>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                </h3>
                <span class="author">Lorem Ipsum</span>
            </div>
        </div>
    </div>
</section>