<section class="body-with-image">
    <div class="container">
        <h2 class="text-center">Lorem Ipsum</h2>
        <div class="column-wrapper">
            <div class="col-two">
                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vehicula felis, ac porttitor
                        lacus. Nam at dui diam. Quisque mollis vulputate lectus nec dictum. Suspendisse luctus, ipsum a
                        dapibus iaculis, tortor velit ornare odio, ut laoreet arcu lorem at libero. Mauris sit amet nunc
                        enim. Donec varius condimentum purus. Fusce fermentum orci non hendrerit suscipit. Aenean et
                        adipiscing mi, et consequat nunc. Etiam ut scelerisque urna
                    </p>
                    <a href="#" class="btn-about btn-common">Read more</a>
                </div>
            </div>
            <div class="col-two">
                <div class="about-img">
                    <img src="/assets/images/about-1.jpg" alt="About-Image">
                </div>
            </div>
        </div>
    </div>
</section>