@import "../../../assets/styles/common/variables";

/*
 * Body-With-Image css
 */

.body-with-image {
  padding: 60px 0;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  h2 {
    margin: 20px 0 30px;
    @include tablet-down {
      margin: 20px 0;
    }
  }
  .col-two {
    height: 289px;
    width: calc(50% - 30px);
    margin: 0 15px;
    @include tablet-down {
      height: auto;
      width: 100%;
      text-align: center;
      margin: 0 auto 25px;
    }
    .about-img {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
      }
    }
    .about-text {
      p {
        font-size: 16px;
        @include desktop-down {
          font-size: 14px;
        }
        @include tablet-down {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 10px;
        }
      }
      .btn-common {
        background: #56c7d9;
        display: inline-block;
        border: none;
        color: #fff;
        font-weight: 600;
        padding: 10px 15px;
        @include transition(all, 0.4s, ease);
        @include tablet-down {
          padding: 12px 25px;
        }
        &.btn-about {
          &:hover {
            background: #2e8f9e;
          }
        }
      }
    }
  }
}