@import "../../../assets/styles/common/variables";

.two-col{

  .left-col{
    width: 50%;
    height: 426px;
    max-height: 100%;
  }
  .right-col{
    background-color: $base-two;
    padding: 20px;
    overflow: hidden;
    height: 426px;
    max-height: 100%;
    color: $font-one;
    @include tablet-down {
      height: auto;
    }
    .v-middle {
      text-align: left;
      @include tablet-down {
        text-align: center;
      }
    }
  }
  .right-col h3 {
    color: $font-one;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .left-col img{
    width: 100%;
    height: 100%;
  }
  .col-two{
    @include tablet-down {
      width: 100%;
    }
  }
}
