<section class="two-col no-padding">
  <div class="column-wrapper">
    <div class="col-two left-col">
      <img src="assets/images/ab.jpg" alt="">
    </div>
    <div class="col-two right-col">
      <div class="v-middle-inner">
        <div class="v-middle">
          <h3>What is Lorem Ipsum?</h3>
          <p><b>Lorem Ipsum </b> is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard 
            dummy text ever since the 1500s, when an unknown printer took a galley
            of type and scrambled it to make a type specimen book. </p>
        </div>
      </div>
    </div>
  </div>
</section>