<section class="specifications">
  <div class="container">
    <div class="col-two">
      <div class="product-img">
        <img src="/assets/images/product_image.png" alt="product-image">
      </div>
    </div>
    <div class="col-two">
      <div class="content">
        <h2>Ghiuy Bjouw</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="list-with-icon">
        <ul>
          <li><p>Lorem ipsum dolor sit amet</p></li>
          <li><p>Lorem ipsum dolor sit amet</p></li>
          <li><p>Lorem ipsum dolor sit amet</p></li>
          <li><p>Lorem ipsum dolor sit amet</p></li>
        </ul>
        <ul>
          <li><p>Lorem ipsum dolor sit amet</p></li>
          <li><p>Lorem ipsum dolor sit amet</p></li>
          <li><p>Lorem ipsum dolor sit amet</p></li>
          <li><p>Lorem ipsum dolor sit amet</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
