@import "../../../assets/styles/common/variables";

/*
 * Specifications css
 */

.specifications {
  .col-two {
    @include tablet-down  {
      width: 100%;
    }
    .product-img {
      @include tablet-down  {
        text-align: center;
      }
    }
    .content {
      h2 {
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &:after {
          content: "";
          position: absolute;
          background: url(../../../assets/images/heading-border.png) no-repeat;
          width: 129px;
          height: 7px;
          bottom: 0;
          left: 0;
        }
      }
    }
    .list-with-icon {
      float: left;
      width: 100%;
      ul {
        width: 50%;
        float: left;
        @include phone-down  {
          width: 100%;
        }
        li {
          position: relative;
          padding: 0 30px 0 50px;
          @include phone-down  {
            padding: 0 30px 10px 50px;
          }
          &:before {
            content: "";
            position: absolute;
            background: url(../../../assets/images/pixelperfect.png) no-repeat;
            background-size: 100%;
            height: 35px;
            width: 35px;
            left: 0;
          }
          p {
            line-height: 1.2;
            @include tablet {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
