<section class="content-with-img left-align">
  <div class="container">
    <div class="img-box">
      <img src="assets/images/img-1.png" alt="Image-1">  
    </div>
    <div class="content-box text-left"> 
      <div class="content-570">
        <h2>Lorem Ipsum edsle</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus eros velit. Morbi pharetra tincidunt est, sit amet luctus nibh iaculis sed. Curabitur molestie in sapien a facilisis.                
        </p>
      </div>
    </div>
  </div>
</section>
<section class="content-with-img right-align grey-bg">
  <div class="container">
    <div class="img-box">
      <img src="assets/images/img-2.png" alt="Image-2">  
    </div>
    <div class="content-box text-left"> 
      <div class="content-570">
        <h2>Aeneanve aliquetes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus eros velit. Morbi pharetra tincidunt est, sit amet luctus nibh iaculis sed. Curabitur molestie in sapien a facilisis tincidunt urna pulvinar.               
        </p>
      </div>
    </div>
  </div>
</section>