@import "../../../assets/styles/common/variables";

.content-with-img {
  padding: 60px 0 40px;
  @include desktop-down {
    padding: 40px 0;
  }
  &.left-align {
    .img-box {
      float: right;
    }
    .content-box {
      float: left;
      padding: 59px 59px 59px 0;
      @include desktop {
        padding: 40px 40px 40px 0;
      }
      @include tablet {
        padding: 30px 30px 0 0;
      }
      @include phablet {
        padding: 30px 30px 0 0;
      }
      @include phablet-down {
        padding: 30px 0 0;
      }
    }
  }
  .img-box {
    float: left;
    width: 100%;
    max-width: 400px;
    @include desktop {
      max-width: 40%;
    }
    @include tablet {
      max-width: 40%;
    }
    @include tablet-down {
      width: 100%;
      float: none !important;
      margin: 0 auto;
    }
  }
  .content-box {
    float: left;
    padding: 59px 0 59px 59px;
    @include desktop {
      max-width: 60%;
      padding: 40px 0 40px 40px;
    }
    @include tablet {
      max-width: 60%;
      padding: 30px 0 0 30px;
    }
    @include tablet-down {
      width: 100%;
    }
    @include phablet-down {
      padding: 30px 0 0;
      text-align: center;
    }
    @include phablet {
      padding: 30px 0 0;
      text-align: center;
    }

    .content-570 {
      padding: 0;
      @include phablet-down {
        padding: 0 20px;
      }
    }
  }

  h2 {
    font-size: 40px;
    font-weight: 400;
    color: $font-two;
    letter-spacing: .045em;
    line-height: 1.2;
    margin-bottom: 9px;
    max-width: 600px;
    width: 100%;
    @include desktop {
      font-size: 36px;
    }
    @include tablet {
      font-size: 32px;
    }
    @include phablet {
      font-size: 25px;
    }
    @include phablet-down {
      font-size: 22px;
    }
  }
  p {
    color: $font-two;
    line-height: 1.7;
  }
  &.right-align {

  }
}
