@import "../../../assets/styles/common/variables";

.we-three-columns {
  margin: 0 auto;
  padding: 40px 0;
  background: $base-one;
  @include phablet {
    padding: 30px 0 15px;
  }
  @include phone {
    padding: 15px 0;
  }
  .wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;
    width: 100%;
    .title {
      margin-bottom: 50px;
      padding-bottom: 20px;
      text-align: center;
      color: $font-three;
      @include desktop {
        margin-bottom: 30px;
        padding-bottom: 20px;
      }
      @include tablet {
        margin-bottom: 20px;
        padding-bottom: 10px;
      }
      @include phablet {
        margin-bottom: 10px;
        padding-bottom: 0;
      }
      @include phablet-down {
        margin-bottom: 15px;
        padding-bottom: 0;
      }
      &:after {
        display: block;
        margin: 10px auto;
        width: 50px;
        height: 5px;
        background: #59c4bc;
        content: "";
      }
    }

    .row {
      float: left;
      width: 100%;
      margin: 0 auto;
      max-width: 1350px;
      .col-3 {
        width: 33%;
        display: inline-block;
        float: left;
        margin: 20px 0;
        padding: 0 20px;
        @include phablet-down {
          width: 50%;
          margin: 15px 0;
        }
        @include phone-down {
          width: 100%;
          text-align: center;
        }
        &:last-of-type {
          @include phone-down {
            margin-bottom: 0;
          }
        }
        .col-title {
          position: relative;
          font-weight: 600;
          color: $font-three;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            margin-left: 10px;
            width: 17px;
            height: 21px;
          }
        }
        ul {
          li {
            a {
              position: relative;
              color: $font-three;
              &:after {
                content: "";
                position: absolute;
                bottom: 5px;
                margin-left: 5px;
                width: 4px;
                height: 7px;
                background: url(../../../assets/images/arrow.png);
                @include transition (margin-left, 0.3s, linear);
              }
            }
            &:hover a:after {
              margin-left: 10px;
               @include transition (margin-left, 0.3s, linear);
            }
          }
        }
      }
    }
  }
  .title-a:after,
  .title-b:after,
  .title-c:after {
    background: url('../../../assets/images/white_papers.png');
  }
  .title-d:after,
  .title-e:after,
  .title-f:after {
    height: 20px;
    background: url('../../../assets/images/blog.png');
  }
}
