<section class="we-three-columns">
  <div class="wrapper">
    <h2 class="title">
      LOREM IPSUM DOLOR
    </h2>
    <div class="row">
      <div class="col-3">
        <h4 class="col-title title-a">Lorem Ipsum</h4>
        <ul>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4 class="col-title title-b">Lorem Ipsum</h4>
        <ul>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4 class="col-title title-c">Lorem Ipsum</h4>
        <ul>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4 class="col-title title-d">Lorem Ipsum</h4>
        <ul>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4 class="col-title title-e">Lorem Ipsum</h4>
        <ul>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h4 class="col-title title-f">Lorem Ipsum</h4>
        <ul>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
          <li><a href="#">Neque porro quisquam est qui dolorem</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>  