<section class="we-footer-cta ">
  <div class="container">
    <div class="col-three">
      <div class="content-wrap">
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <a href class="footer-btn">
          Lorem Ipsum
        </a>
      </div>
    </div>
    <div class="col-three">
      <div class="content-wrap">
        <h4>What is Lorem Ipsum?</h4>
        <h5>1-866-999-2946</h5>
      </div>
    </div>
    <div class="col-three">
      <div class="content-wrap">
        <h4>What is Lorem Ipsum?</h4>
        <p>Lorem Ipsum is simply dummy text of the and typesetting industry.</p>
        <a href="#" class="footer-btn">
          Lorem Ipsum
        </a>
      </div>
    </div>
  </div>
</section>

