@import "../../../assets/styles/common/variables";

/*
 * Section footer-cta css
 */

.we-footer-cta {
  padding: 45px 0 52px;
  background-color: $other-two;
  @include desktop {
    padding: 40px 0;
  }
  @include tablet {
    padding: 35px 0 20px;
  }
  @include tablet-down {
    padding: 0;
  }
  .container {
    max-width: 1240px;
    .col-three {
      width: 25.5%;
      text-align: center;
      min-height: 180px;
      @include tablet-down {
        clear: both;
        width: 100%;
        padding: 30px 0;
      }
      &:nth-child(2) {
        width: calc(50% - 12px);
        @include tablet-down {
          width: 100%;
        }
        &:after {
          position: absolute;
          top: 12px;
          right: 12.2%;
          width: 1px;
          height: 150px;
          content: '';
          background: $font-one;
          @include tablet-down {
            position: absolute;
            top: inherit;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: $font-one;
          }
        }
        &:before {
          position: absolute;
          top: 12px;
          left: 12.2%;
          width: 1px;
          height: 150px;
          content: '';
          background: $font-one;
          @include tablet-down {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            content: ' ';
            background: $font-one;
          }
        }
      }
      .content-wrap {
        max-width: 315px;
        margin: 0 auto;
        padding: 20px 0;
        @include tablet-down {
          padding: 0;
        }
        h4 {
          padding: 10px 0 11px;
          text-align: center;
          text-transform: uppercase;
          color: $font-one;
          font-size: 24px;
          font-weight: 100;
          font-style: normal;
          @include desktop {
            font-size: 21px;
          }
          @include tablet {
            padding: 10px 0 5px;
            font-size: 17px;
          }
          @include tablet-down {
            padding: 0 0 10px;
            font-size: 16px;
          }
        }
        h5 {
          padding-top: 10px;
          color: $font-one;
          font-size: 36px;
          font-weight: normal;
          @include desktop {
            font-size: 30px;
          }
          @include tablet {
            font-size: 28px;
          }
          @include tablet-down {
            padding-top: 0;
          }
          @include phablet {
            font-size: 26px;
          }
          @include phone {
            font-size: 24px;
          }
          @include phone-down {
            font-size: 22px;
          }
        }
        p {
          padding: 0 0 18px;
          margin: 0;
          color: $font-one;
          font-size: 16px;
          @include tablet-down {
            font-size: 14px;
          }
        }
        .footer-btn {
          position: relative;
          display: inline-block;
          width: 133px;
          padding: 7px 11px;
          color: $font-one;
          background: $other-five;
          box-shadow: inset 0 0 0 2px $other-five, 0 0 1px transparent;
          font-size: 16px;
          font-weight: 200;
          @include border-radius (5px);
          @include transition (background, .3s, ease-in-out);
          @include tablet {
            font-size: 14px;
          }
          @include tablet-down {
            padding: 7px 10px;
            font-size: 12px;
          }
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}
