@import "../../../assets/styles/common/variables";

/*
COL-FOUR-BLOCK CSS
 */

.col-four-block {
  padding: 60px 0;
  background: $base-four;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  h2 {
    margin: 15px 0 30px;
    color: $font-one;
  }
  .col-two-main {
    @include tablet {
      width: 100%;
      margin-bottom: 20px;
    }
    @include tablet-down {
      width: 100%;
    }
    .col-two {
      width: calc(50% - 20px);
      margin: 0 10px;
      background: #323949;
      border-left: 6px solid #404654;
      @include transition(all, 0.2s, ease-in);
      @include tablet-down {
        width: 100%;
        margin-bottom: 5px;
      }
      &:hover {
        border-left: 6px solid $primary-one;
        background: #404654;
        @include transition(all, 0.2s, ease-in);
        .right-arrow {
          margin-right: 0;
          opacity: 1;
        }
      }
      a {
        color: $font-one;
        padding: 20px 15px 33px;
        display: block;
        h5 {
          font-size: 20px;
          font-weight: 700;
          margin: 10px 0 20px;
        }
        p {
          font-size: 15px;
          font-weight: 700;
          line-height: 1.4;
          color: #919da8;
        }
        .right-arrow {
          float: right;
          margin: 0 5px 15px 0;
          opacity: 0;
          @include transition(all, 0.2s, ease-in);
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
        @include tablet-down {
          margin-left: 0;
        }
      }
    }
  }
}