<section class="col-four-block">
    <div class="container">
        <h2 class="text-center">Lorem Ipsum</h2>
        <div class="column-wrapper">
            <div class=" col-two-main">
                <div class="col-two" *ngFor="let item of items">
                    <a href="#">
                        <div class="content-box">
                            <h5>{{ item.title }}</h5>
                            <p>{{ item.blurb }}</p>
                            <i class="fa fa-angle-right right-arrow" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
