@import "../../../assets/styles/common/variables";

/*
COL-IMAGE-CTA CSS
 */

.col-image-cta {
  padding: 60px 0;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  h2 {
    margin: 15px 0 30px;
    @include phablet-down {
      margin: 15px 0;
    }
  }
  .col-two {
    @include phablet-down {
      width: 100%;
      margin-bottom: 10px;
    }
    .active-block {
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      color: $font-one;
      height: 100%;
      max-height: 410px;
      @include desktop-down {
        max-height:310px;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
      &:hover {
        a {
          opacity: 1;
        }
        .hover-block {
          bottom: 0;
          opacity: 1;
          @include transition(all, 0.4s, ease);
          h3 {
            margin-bottom: 20px;
            @include phablet {
              margin-bottom: 15px;
            }
            @include phablet-down {
              margin-bottom: 10px;
            }
          }
        }
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary-one;
        color: #fff;
        opacity: 0;
        @include transition(all, 0.2s, ease-in);
      }
      .hover-block {
        text-align: left;
        margin-left: 20px;
        width: 80%;
        bottom: -15px;
        opacity: 0;
        .white {
          margin: 5px 0 0;
        }
        p {
          line-height: 1.3;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}