<section class="col-image-cta">
    <div class="container">
        <h2 class="text-center">Lorem Ipsum</h2>
        <div class="column-wrapper">
            <div class="col-two" *ngFor="let item of items">
                <div class="active-block">
                  <img src="{{ item.image_url }} " alt="{{ item.image_alt }}">
                    <a href="#">
                        <div class="hover-block v-middle-inner">
                            <div class="v-middle">
                                <h3>{{ item.title }}</h3>
                                <p>{{ item.blurb }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--<div class="col-two">-->
                <!--<div class="active-block">-->
                    <!--<img src="/assets/images/cta-image-2.JPG" alt="CTA-image-2">-->
                    <!--<a href="#">-->
                        <!--<div class="hover-block v-middle-inner">-->
                            <!--<div class="v-middle">-->
                                <!--<h3>Lorem Ipsum</h3>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor-->
                                    <!--incididunt ut labore et dolore magna aliqua.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>
