@import '../variables';
/*
 * Buttons.
 */

.btn-default {
  color: $primary-one;
  padding: 13px 20px 13px;
  margin-top: 15px;
  font-family: $font;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
  z-index: 0;
  background: $font-one;
  @include transition(all, .4s, ease-in-out);
  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0%;
    height: 100%;
    z-index: -1;
    @include transition(all, .4s, ease);
  }
  &:hover {
    color: $font-one;
    &:before {
      background: $primary-one;
      left: 0;
      width: 100%;
    }
  }
  @include tablet-down{
    padding: 10px;
  }
  @include tablet {
    font-size: 16px;
    padding: 10px;
  }
  @include phablet{
    font-size: 16px;
  }
  @include phablet-down{
    font-size: 14px;
  }
}
.btn-green {
  color: $font-one;
  border: 1px solid $primary-one;
  &:before {
    background: $primary-one;
    border: 1px solid $primary-one;
  }
  @extend .btn-default
}
.btn-blue {
  color: $font-one;
  border: 1px solid $other-one;
  &:before {
    background: $other-one;
  }
  @extend .btn-default
}
.btn-clear {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: $font-one;
  font-weight: 700;
  z-index:1;
  border: 2px solid $font-one;
  border-radius: 7px;
  background: hsla(0, 0%, 100%, 0);
  @include transition(all, .2s, ease);
  &:hover {
    color: black;
    &:before {
      width: 100%;
    }
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $font-one;
    @include transition(all, .2s, ease);
  }
}
/*
 * Links.
 */

.link-text {
  color: $base-four;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    right: 50%;
    bottom: -3px;
    background: $primary-one;
    height: 2px;
    //@include transition-property(left, right);
    @include transition(all, .3s, ease-out);
    opacity: 0;
  }
  &:hover {
    &:after {
      left: 0;
      right: 0;
      opacity: 1;
      bottom: -3px;
    }
  }

}

.link-arrow {
  color: $base-four;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-transform: capitalize;
  padding-right: 26px;
  &:after {
    content: '';
    background: url(/assets/images/arrow_green.png) center right no-repeat;
    height: 22px;
    width: 20px;
    top: 0;
    right: 0;
    position: absolute;
    @include transition(all, .4s, ease);
    @include tablet-down {
      height: 18px;
    }
  }
  &:hover{
    &:after{
      right: -6px;
    }
  }
}
