
.color-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: multiply;
}
.blue-overlay {
  background: $other-one;
  background: rgba(0, 94, 173, 0.8);
}
.green-overlay {
  background: $primary-one;
  background: rgba(148, 196, 63, 0.8);
}
/*
 * Background Colors.
 */
.bg-gray {
  background: $base-one;
}
.bg-dark-gray {
  background: $base-four;
}
.bg-light-gray {
  background: $base-three;
}
.bg-green {
  background: $primary-two;
}
.bg-blue {
  background: $other-one;
}
.bg-red {
  background: $other-three;
}
.bg-mid-green {
  background: $primary-three;
}
.bg-blue {
  background: $other-one;
}
.bg-purple {
  background: $other-four;
}

/*
Text color
 */
.blue-text {
  color: $other-one;
}
.purple-text {
  color: $other-four;
}
.green-text {
  color: $primary-two;
}
.gray-text {
  color: $base-one;
}
/*
 * Links.
 */

.green {
  color: $primary-one;
  &:after {
    background: $primary-one;
  }
  //@extend .link-text
}
.white {
  color: $font-one;
  &:after {
    background: $font-one;
  }
  //@extend .link-text
}
