<section class="col-two-info">
    <div class="container">
        <div class="column-wrapper">
            <div class="col-two">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a href="#">Wpsum Us</a>
            </div>
            <div class="col-two img-box">
                <img src="/assets/images/grid-img-1.png" alt="Grid-Image">
            </div>
        </div>
        <div class="column-wrapper left">
            <div class="col-two">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <a href="#">Wpsum Us</a>
            </div>
            <div class="col-two img-box">
                <div class="v-middle-inner">
                    <div class="v-middle">
                        <img src="/assets/images/grid-img-2.png" alt="Grid-Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>