@import "../../../assets/styles/common/variables";

/*
 * COL-TWO-INFO css
 */

.col-two-info {
  padding: 60px 0;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  .column-wrapper {
    .col-two {
      @include tablet-down {
        width: 100%;
        margin-bottom: 20px;
      }
      &:first-child {
        padding-right: 20px;
      }
      h3 {
        margin-bottom: 20px;
        color: #6F7D8C;
        @include tablet-down {
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 16px;
        color: #6F7D8C;
        font-weight: 500;
        @include tablet {
          font-size: 15px;
        }
        @include phablet {
          font-size: 14px;
        }
      }
      a {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: #56c7d9;
        @include transition(all, 0.2s, ease-in);
        &:hover {
          color: #2e8f9e;
        }
      }
    }
    &.left {
      padding-top: 40px;
      @include tablet-down {
        padding-top: 0;
      }
      .col-two{
        &:first-child {
          float: right;
          padding-left: 20px;
          @include tablet-down {
            padding-left: 0;
          }
        }
      }
    }
  }
}