@import "../../../assets/styles/common/variables";

/*
 * Footer css
 */

.footer {
  padding: 70px 0;
  background: $base-four;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  .col-four {
    width: calc(25% - 28px);
    margin: 0 14px;
    @include tablet {
      width: calc(50% - 28px);
      min-height: 223px;
      margin: 0 14px 15px;
    }
    @include tablet-down {
      width: 100%;
      margin: 10px 0;
    }
    &:first-child {
      margin-left: 0;
      @include tablet {
        margin-left: 14px;
      }
    }
    &:last-child {
      margin-right: 0;
      @include tablet {
        margin-right: 14px;
      }
    }
    h6 {
      color: $font-one;
      font-weight: 500;
      margin-bottom: 20px;
      @include tablet-down {
        margin-bottom: 5px;
      }
    }
    .gray-box {
      padding: 15px;
      border: 1px solid #828282;
      .more {
        color: #bdbdbd;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.039em;
        @include transition(all, 0.2s, ease-in);
        &:hover {
          color: $font-one;
        }
      }
    }
    p {
      font-size: 14px;
      color: #919da8;
      line-height: 1.4;
      font-weight: 600;
      letter-spacing: 0.027em;
      margin-bottom: 10px;
    }
    .newsletter-input {
      width: 70%;
      float: left;
      outline: none;
      background: transparent;
      border: 1px solid #828282;
      color: #919da8;
      font-size: 20px;
      padding: 12px 10px;
      @include tablet {
        width: 81%;
      }
      @include phablet {
        width: 89%;
      }
      @include phone {
        width: 86%;
      }
      @include phone-down {
        width: 78%;
      }
    }
    .submit-btn {
      display: inline-block;
      margin-bottom: 10px;
      button {
        padding: 6px 25px 11px;;
        border-radius: 0;
        background: #56c7d9;
        color: $font-one;
        cursor: pointer;
        @include transition(all, 0.2s, ease-in);
        a {
          color: $font-one;
          font-size: 27px;
        }
        &:hover {
          background: #2e8f9e;
        }
      }
    }
    .footer-links {
      li {
        margin: 10px 0;
        a {
          color: #56c7d9;
          font-size: 14px;
          font-weight: 700;
          padding: 5px 0;
          @include transition(all, 0.2s, ease-in);
          &:hover {
            color: #2e8f9e;
          }
        }
      }
    }
    .tele-box {
      padding: 15px;
      p {
        margin: 0;
        position: relative;
        padding-left: 20px;
        &:before {
          content: '';
          position: absolute;
          background: url(/assets/images/phone1.png) no-repeat;
          top: 4px;
          left: 0;
          width: 12px;
          height: 12px;
        }
      }
    }
    .color-box {
      margin: 10px 0;
      .mail {
        font-size: 14px;
        color: $font-one;
        font-weight: 700;
        display: block;
        padding: 15px 0 15px 40px;
        position: relative;
        background: #56c7d9;
        @include transition(all, 0.2s, ease);
        &:hover {
          background: #2e8f9e;
        }
        &:before {
          content: '';
          position: absolute;
          background: url(/assets/images/email1.png) no-repeat;
          top: 14px;
          left: 15px;
          width: 17px;
          height: 17px;
        }
      }
    }
    .social-follow {
      float: left;
      text-transform: uppercase;
      @include phablet-down {
        float: none;
        text-align: center;
      }
      .follow {
        font-weight: 700;
        letter-spacing: 0.075em;
        color: $base-five;
      }
      .social-icons {
        float: left;
        width: 100%;
        margin: 10px 0;
        @include desktop-down {
          float: none;
        }
        a {
          display: inline-block;
          margin-left: 0px;
          height: 40px;
          width: 40px;
          background: $primary-one;
          z-index: 0;
          padding: 12px;
          @include transition(all, 0.2s, ease-in);
          @include desktop {
            margin-left: 5px;
          }
          @include desktop-down {
            margin-left: 2px;
          }
          @include tablet-down {
            font-size: 18px;
          }
          &:hover, &:focus, &:active {
            background: #2e8f9e;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.copyright {
  float: left;
  width: 100%;
  background: $base-four;
  border-top: 1px solid #000;
  @include desktop-down {
    border: none;
  }
  p {
    text-align: left;
    color: #C5C5C5;
    padding: 10px 0;
    margin: 0;
    line-height: inherit;
    font-size: 14px;
    @include phablet-down {
      text-align: center;
    }
  }
}

