<section class="footer">
    <div class="container">
        <div class="col-four">
            <h6>ABOUT IPSUM</h6>
            <div class="gray-box">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat laboris.
                </p>
                <a href="#" class="more">More</a>
            </div>
        </div>
        <div class="col-four">
            <h6>EMAIL IPSUM OEIGI</h6>
            <form class="e-mail">
                <input type="email" name="email" placeholder="Enter E-mail" class="newsletter-input"
                       title="Enter Your E-mail">
                <div class="submit-btn">
                    <button type="submit">
                        <a href="#"> &#x203A; </a>
                    </button>
                </div>
            </form>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
            </p>
        </div>
        <div class="col-four">
            <h6>WKDOS LINKS</h6>
            <ul class="footer-links">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum dolor</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
        </div>
        <div class="col-four">
            <h6>CONTACT</h6>
            <div class="gray-box tele-box">
                <p> 800.555.5555</p>
            </div>
            <div class="color-box">
                <a href="mailto:abc@abc.com" class="mail">lorem@lorem.com</a>
            </div>
            <div class="social-follow">
                <span class="follow">Follow Us</span>
                <div class="social-icons">
                    <a href="#" target="_blank"><img alt="linkedin" src="assets/images/linkedin.png"></a>
                    <a href="#" target="_blank"><img alt="facebook" src="assets/images/facebook.png"></a>
                    <a href="#" target="_blank"><img alt="twitter" src="assets/images/twitter.png"></a>
                    <a href="#" target="_blank"><img alt="youtube" src="assets/images/youtube.png"></a>
                </div>
            </div>
        </div>


    </div>
</section>
<div class="footer-bottom copyright">
    <div class="container">
        <p>Copyright © 2017&nbsp; |&nbsp; All rights reserved.</p>
    </div>
</div>