@import "../../../assets/styles/common/variables";

.hero-banner{
  &.home {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    background: rgb(222, 222, 222);
    min-height: 600px;
    @include tablet-down{
      min-height: inherit;
    }
    .container{
      width: 100%;
      height: 100%;
    }
    .hero-slider-container{
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    .item-container{
      width: 100%;
      height: 100%;
    }
    .outer-container{
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    .slider-nav{
      width: 12px;
      height: 12px;
      border: 2px solid #101820;
      border-radius: 50%;
      float: left;
      margin: 0 5px;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      &:hover{
        background-color: #009aa6;
        border: 2px solid #009aa6;
      }
      &.active{
        background-color: #101820;
        &:hover{
          border: 2px solid #101820;
        }
      }
    }
    .slide-background{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(56,71,80,0.7);
      }
      img{
        max-width: none;
      }
    }

    .slide-item{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      &.active{
        opacity: 1;
        z-index: 1;
      }
      h1{
        display: block;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -0.5px;
        margin-bottom: 5px;
        span{
          &#hero-span{
            text-transform: none;
          }
        }
      }
    }
    .slider-controls{
      position: absolute;
      bottom: 83px;
      left: 0;
      z-index: 3;
      width: 100%;
      @include tablet-down{
        bottom: 30px;
      }
      .container{
        position: relative;
        text-align: center;
        &:after{
          content: "";
          display: block;
          clear: both;
        }
      }
      .navs{
        display: inline-block;
        padding: 4px 52px 0 52px;
      }

    }
    .next{
      display: inline-block;
      cursor: pointer;
      span{
        display: block;
        height: 19px;
        width: 12px;
        svg{
          width: 100%;
          height: 100%;
          path{
            fill: #fff;
            stroke: #fff;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
    }
    .prev{
      display: inline-block;
      cursor: pointer;
      span{
        display: block;
        height: 19px;
        width: 12px;
        svg{
          width: 100%;
          height: 100%;
          path{
            fill: #fff;
            stroke: #fff;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
.hero-banner{
  &.home{
    .on-load-animate{
      .slide-item{
        h1{
          opacity: 0;
          -webkit-transform: translateX(-500px);
          -moz-transform: translateX(-500px);
          -ms-transform: translateX(-500px);
          -o-transform: translateX(-500px);
          transform: translateX(-500px);
        }
        &.active-text{
          h1{
            -webkit-animation-name: activeslideText;
            -moz-animation-name: activeslideText;
            -ms-animation-name: activeslideText;
            -o-animation-name: activeslideText;
            animation-name: activeslideText;
            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            -ms-animation-fill-mode: forwards;
            -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-duration: 900ms;
            -moz-animation-duration: 900ms;
            -ms-animation-duration: 900ms;
            -o-animation-duration: 900ms;
            animation-duration: 900ms;
            -webkit-animation-delay: 1500ms;
            -moz-animation-delay: 1500ms;
            -ms-animation-delay: 1500ms;
            -o-animation-delay: 1500ms;
            animation-delay: 1500ms;
          }
        }
      }
    }
    .zoom-out{
      opacity: 0;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-animation-name: zoomout;
      -moz-animation-name: zoomout;
      -ms-animation-name: zoomout;
      -o-animation-name: zoomout;
      animation-name: zoomout;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -ms-animation-duration: 1.5s;
      -o-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -moz-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -ms-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -o-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    .prevactive{
      &.zoom-in{
        z-index: 2;
        -webkit-animation-name: prevactivezoomin;
        -moz-animation-name: prevactivezoomin;
        -ms-animation-name: prevactivezoomin;
        -o-animation-name: prevactivezoomin;
        animation-name: prevactivezoomin;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -moz-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -ms-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -o-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        h1{
          opacity: 1;
          -webkit-transform: translateX(0px);
          -moz-transform: translateX(0px);
          -ms-transform: translateX(0px);
          -o-transform: translateX(0px);
          transform: translateX(0px);
        }
      }
      &.zoom-out{
        z-index: 0;
        -webkit-animation-name: prevslidezoomout;
        -moz-animation-name: prevslidezoomout;
        -ms-animation-name: prevslidezoomout;
        -o-animation-name: prevslidezoomout;
        animation-name: prevslidezoomout;
        -webkit-animation-duration: 1.5ms;
        -moz-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -moz-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -ms-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -o-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      }
    }
    .active{
      &.zoom-in{
        opacity: 0;
        z-index: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-animation-name: zoomin;
        -moz-animation-name: zoomin;
        -ms-animation-name: zoomin;
        -o-animation-name: zoomin;
        animation-name: zoomin;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        -ms-animation-duration: 1.5s;
        -o-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -moz-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -ms-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -o-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        &:hover{
          img{
            transform: scale(1);
          }
        }
      }
    }
  }
}
@-webkit-keyframes zoomout{
  0%{
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes zoomout{
  0%{
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes zoomout{
  0%{
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoomout{
  0%{
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes prevactivezoomin{
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-moz-keyframes prevactivezoomin{
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-ms-keyframes prevactivezoomin{
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes prevactivezoomin{
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes prevslidezoomout{
  0%{
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-moz-keyframes prevslidezoomout{
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-ms-keyframes prevslidezoomout{
  0%{
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes prevslidezoomout{
  0%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100%{
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@-webkit-keyframes zoomin{
  0%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes zoomin{
  0%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes zoomin{
  0%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoomin{
  0%{
    opacity: 0;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100%{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes activeslideText{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100%{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes activeslideText{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100%{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-ms-keyframes activeslideText{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100%{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes activeslideText{
  0%{
    opacity: 0;
    -webkit-transform: translateX(-500px);
    -moz-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    -o-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100%{
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
