<section class="hero-banner home"  (window:resize)="_HeroslideService.imageResponsive('.hero-banner.home .slide-background')">
  <div class="hero-slider-container">
    <div class="item-container">
      <div class="slide-item">
        <div class="slide-background">
          <img src="/assets/images/home-banner.jpg" alt="Hero Slider">
        </div>
        <div class="outer-container">
          <div class="container">
            <div class="v-middle-inner">
              <div class="v-middle">
                <div class="text-container">
                  <h1>Lorem ipsum dolor sit amet</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-background">
          <img src="/assets/images/home-banner2.jpg" alt="Hero Slider">
        </div>
        <div class="outer-container">
          <div class="container">
            <div class="v-middle-inner">
              <div class="v-middle">
                <div class="text-container">
                  <h1>Lorem ipsum dolor sit amet</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-background">
          <img src="/assets/images/home-banner3.jpg" alt="Hero Slider">
        </div>
        <div class="outer-container">
          <div class="container">
            <div class="v-middle-inner">
              <div class="v-middle">
                <div class="text-container">
                  <h1>Lorem ipsum dolor sit amet</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="slide-background">
          <img src="/assets/images/home-banner4.jpg" alt="Hero Slider">
        </div>
        <div class="outer-container">
          <div class="container">
            <div class="v-middle-inner">
              <div class="v-middle">
                <div class="text-container">
                  <h1>Lorem ipsum dolor sit amet</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-controls">
      <div class="outer-container">
        <div class="container">
          <div class="prev">
            <span>
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="120.212px" height="192.724px" viewBox="110.378 53.67 120.212 192.724"
                   enable-background="new 110.378 53.67 120.212 192.724" xml:space="preserve">
                <path stroke="#ffffff" stroke-width="10" stroke-miterlimit="10" d="M117.378,150.297l87.769,87.539
                      c4.692,4.68,12.29,4.67,16.97-0.022l0,0c4.68-4.692,4.67-12.29-0.022-16.97l-70.97-70.784l70.784-70.97
                      c4.68-4.692,4.67-12.29-0.022-16.971v0c-4.692-4.68-12.29-4.67-16.97,0.022l-87.539,87.769l0.193,0.193L117.378,150.297z"/>
              </svg>

            </span>
          </div>
          <div class="navs">

          </div>
          <div class="next">
            <span>
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="120.212px" height="192.724px" viewBox="110.378 53.67 120.212 192.724"
                   enable-background="new 110.378 53.67 120.212 192.724" xml:space="preserve">
                <path stroke="#ffffff" stroke-width="10" stroke-miterlimit="10" d="M223.518,149.839l-87.654-87.654
                      c-4.686-4.686-12.284-4.686-16.971,0l0,0c-4.686,4.686-4.686,12.284,0,16.971l70.877,70.877l-70.877,70.877
                      c-4.686,4.686-4.686,12.284,0,16.971v0c4.686,4.686,12.284,4.686,16.971,0l87.654-87.654l-0.193-0.193L223.518,149.839z"/>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
