@import "../../../assets/styles/common/variables";

/*
 * Nevigation css
 */

.navigation {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 99;
  border-bottom: 1px solid #dcdcdc;
  background: rgba(55, 70, 79, 0);
  @include transition(all, 0.4s, ease-in-out);
  &.colored-background {
    background: rgba(30, 38, 51, 1);
    .logo {
      padding: 8px 0;
    }
    .menu {
      @include tablet-down{
        top: 54px;
      }
      .nav {
        li {
          a {
            padding: 24px 10px;
            @include tablet-down{
              padding: 15px 20px;
            }
            &.active,
            &:hover {
              color: $primary-one;
            }
          }
        }
      }
    }
    .hamburger{
      margin-top: 25px;
    }
  }
  .logo {
    max-width: 200px;
    padding: 14px 0;
    @include transition(all, 0.4s, ease-in-out);
    @include tablet-down{
      max-width: 80px;
    }
    img {
      display: block;
    }

    a {
      display: block;
    }
  }
  .menu {
    @include tablet-down{
      display: none;
      width: 100%;
      position: absolute;
      top: 66px;
      left: 0;
      background: #1f2734;
    }
    @include phablet-down {
      width: 100%;
    }
    .nav {
      float: left;
      width: 100%;
      font-size: 0;
      @include tablet-down{
        padding: 10px 0;
        border-top: 1px solid #ffffff;
      }
      @include phablet-down {
        text-align: center;
      }
      li {
        display: inline-block;
        @include tablet-down{
          width: 100%;
        }
        a {
          float: left;
          font-weight: 700;
          font-size: 14px;
          padding: 30px 10px;
          text-transform: uppercase;
          color: $font-one;
          @include transition(all, 0.4s, ease-in-out);
          @include tablet-down{
            padding: 15px 20px;
          }
          &:hover {
            color: $base-four;
            @include tablet-down{
              color: $primary-one;
            }
          }
          @include phablet-down {
            font-size: 12px;
          }
        }
        a.active {
          color: $base-four;
          @include tablet-down{
            color: $primary-one;
          }
        }
      }

    }
  }
  .hamburger{
    display: none;
    position: relative;
    float: right;
    width: 45px;
    height: 6px;
    text-align: center;
    font-size: 0;
    margin-top: 30px;
    cursor: pointer;
    @include transition(all, 0.4s, ease-in-out);
    @include tablet-down{
      display: block;
    }
    span{
      position: absolute;
      top: calc(50% - 3px);
      left: calc(50% - 3px);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      overflow: hidden;
      background: #fff;
      &:first-child{
        left: 0;
        @include animation2(hamburgerLeftreverse, 400ms, cubic-bezier(0.51, 0.51, 0.5, 0.51), forwards);
      }
      &:last-child{
        left: auto;
        right: 0;
        @include animation2(hamburgerRightreverse, 400ms, cubic-bezier(0.51, 0.51, 0.5, 0.51), forwards);
      }
    }
    &.activehamburger{
      span{
        &:first-child{
          @include animation2(hamburgerLeft, 400ms, cubic-bezier(0.51, 0.51, 0.5, 0.51), forwards);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:last-child{
          @include animation2(hamburgerRight, 400ms, cubic-bezier(0.51, 0.51, 0.5, 0.51), forwards);
        }
      }
    }
  }
}
@keyframes hamburgerLeftreverse {
  0%{
    left: 14px;
    width: 30px;
    height: 3px;
    border-radius: 0;
    @include transform(rotate(45deg));
  }
  50%{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    @include transform(rotate(0deg));
    left: calc(50% - 3px);
  }
  100%{
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    @include transform(rotate(0deg));
  }
}
@keyframes hamburgerLeft {
  0%{
    left: 0;
  }
  50%{
    left: calc(50% - 3px);
  }
  100%{
    left: 14px;
    width: 30px;
    height: 3px;
    border-radius: 0;
    @include transform(rotate(45deg));
  }
}
@keyframes hamburgerRightreverse {
  0%{
    width: 30px;
    height: 3px;
    border-radius: 0;
    @include transform(rotate(-45deg));
    left: auto;
    right: 0
  }
  50%{
    right: auto;
    left: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    @include transform(rotate(0deg));
  }
  100%{
    left: auto;
    right: 0
  }
}
@keyframes hamburgerRight {
  0%{
    left: auto;
    right: 0
  }
  50%{
    right: auto;
    left: calc(50% - 3px);
  }
  100%{
    width: 30px;
    height: 3px;
    border-radius: 0;
    @include transform(rotate(-45deg));
  }
}