<section class="navigation no-padding">
  <div class="container">
    <div class="logo left">
      <a routerLink="">
        <img src="assets/images/logo.png" alt="Logo">
      </a>
    </div>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu right">
      <ul class="nav">
        <li><a routerLink="" >Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/news-events" routerLinkActive="active">News Events</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/blogs" routerLinkActive="active">Blog</a></li>
      </ul>
    </div>
  </div>
</section>
