<app-second-level-banner [item]="item"></app-second-level-banner>

<section class="blog-content">
    <div class="container">
        <div class="form-outer">
            <form method="post" class="col-three">
                <!--<input type="text" name="text" placeholder="search block">-->
                <input (keyup)="searchTerm($event.target.value)" type="text" name="text" placeholder="Search">
                <!--<button type="submit" class="search"><img src="assets/images/magnify.png" alt="magnify"></button>-->
            </form>
            <div class="col-three dropdown">
                <select class="search-category">
                    <option value="Topic">Topic</option>
                    <option value="All">All</option>
                    <option value="Lorem">Lorem Ipsum</option>
                    <option value="Lorem">Lorem Ipsum</option>
                    <option value="Lorem">Lorem Ipsum</option>
                </select>
            </div>
            <div class="col-three dropdown">
              <select class="author-list" [(ngModel)]="term" (ngModelChange)="abc($event)">
                    <option value="">Authors</option>
                    <option *ngFor="let item of items | unique : 'taxonomy'" value = "{{ item.taxonomy}}">{{ item.taxonomy}}</option>
                  
                </select>
            </div>
        </div>

        <div class="col-seven">
            <div *ngFor="let item of items| textSearch:filterQuery | filter : term">
                <div class="content-wrap">
                    <div class="img-icon">
                        <img src="/assets/images/news1.png" alt="blog-image">
                    </div>
                    <div class="post-preview">
                        <a routerLink="/blog/{{item.id}}">
                            <h2>{{item.title}}</h2>
                        </a>
                        <p>Posted under
                            <span>{{ item.taxonomy}}</span>
                            on October 24, 2017</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-three right-box">
            <div class="side-bar">
                <h4>Sign up for Our NewsLetter</h4>
                <input type="email" name="email" placeholder="Enter your email">
                <button type="submit" class="submit-btn"> › </button>
            </div>
        </div>
        <div class="pagination">
            <ul class="list">
                <li><a href="">First</a></li>
                <li><a href="">Prev</a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="">Next</a></li>
                <li><a href="">Last</a></li>
            </ul>
        </div>
    </div>
</section>
<app-cta-gray></app-cta-gray>