@import "../../../assets/styles/common/variables";

/*
 * Blog Content css
 */

.blog-content {
  .form-outer {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    form {
      input {
        width: 100%;
        padding: 10px 15px;
        font-size: 20px;
        outline: none;
        color: #C5C5C5;
        border: 1px solid #C5C5C5;
        @include phablet-down {
          padding: 13px 15px;
          font-size: 14px;
        }
      }
    }
    .col-three {
      &.dropdown {
        &:before {
          content: '';
          position: absolute;
          background: url(/assets/images/down-arrow.png) no-repeat;
          width: 13px;
          height: 20px;
          top: 15px;
          right: 5px;
          z-index: 1;
        }
        select {
          width: 100%;
          padding: 10px 15px;
          font-size: 20px;
          outline: none;
          background: #fff;
          border-radius: 0;
          -webkit-appearance: none;
          color: #c5c5c5;
          border: 1px solid #C5C5C5;
          border-left: none;
          position: relative;
          @include phablet-down {
            padding: 13px 15px;
            font-size: 14px;
          }
          .blog-arrow {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 10px;
          }
        }
      }
    }
  }
  .col-seven {
    @include desktop-down {
      width: 100%;
    }
    .content-wrap {
      float: left;
      width: 100%;
      padding: 20px 0;
      border: 1px solid #d0d0d0;
      background: #f9f9f9;
      margin-bottom: 20px;
      .img-icon {
        float: left;
        width: 30%;
        height: 120px;
        max-width: 182px;
        overflow: hidden;
        padding-left: 15px;
        @include phablet-down {
          width: 100%;
          text-align: center;
          height: auto;
          max-width: inherit;
        }
      }
      .post-preview {
        padding: 10px 0 0 20px;
        float: left;
        width: 70%;
        @include phablet-down {
          width: 100%;
          text-align: center;
          padding: 20px 10px 0;
        }
        @include phablet {
          width: 62%;
        }
        @include tablet {
          width: 70%;
        }
      }
      a {
        display: inline-block;
        &:hover {
          h2 {
            color: #2e8f9e;
          }
        }
      }
      h2 {
        font-weight: 700;
        padding: 0;
        line-height: 1.2;
        font-size: 24px;
        color: $primary-one;
        margin-bottom: 15px;
        @include transition(all, 0.2s, ease-in);
        @include tablet-down {
          font-size: 22px;
          margin-bottom: 8px;
        }
      }
      p {
        font-style: italic;
        margin-bottom: 0;
        color: $base-three;
        float: left;
        width: 100%;
        span {
          color: $primary-one;
        }
      }
    }
  }
  .right-box {
    width: calc(30% - 20px);
    margin-left: 20px;
    padding: 30px 15px;
    background: #1E2633;
    @include desktop-down {
      width: 50%;
      margin-left: 0;
      margin-top: 15px;
    }
    .side-bar {
      position: relative;
      h4 {
        color: #fff;
        font-weight: 600;
      }
      input {
        outline: none;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        margin: 10px 0 15px;
        background: $base-four;
        border: 1px solid #828282;
        color: #919da8;
      }
      .submit-btn {
        outline: none;
        border: none;
        padding: 6px 20px;
        border-radius: 0;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        position: absolute;
        bottom: 15px;
        right: 1px;
        background: #56c7d9;
        height: 40px;
      }
    }
  }
  .pagination {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding-top: 30px;
    li {
      display: inline-block;
      height: 39px;
      width: 60px;
      @include phablet {
        height: 34px;
        width: 45px;
      }
      @include phablet-down {
        height: 27px;
        width: 39px;
        margin-bottom: 5px;
      }
      a {
        padding: 8px;
        display: block;
        border: 1px solid #000;
        @include transition(all, 0.2s, ease-in);
        @include phablet {
          font-size: 14px;
        }
        @include phablet-down {
          padding: 5px;
          font-size: 12px;
        }
        &:hover {
          background: $base-four;
          color: $font-one;
          border: 1px solid $base-four;
        }
      }
    }
  }
}
