<section class="logo-grid bg-gray">
    <div class="container">
        <h2 class="text-center">Clients</h2>
        <div class="column-wrapper">
            <div class="col-five" *ngFor="let item of items" >
                <div class="img-outer">
                  <img src="{{ item.image_url }} " alt="{{ item.image_alt }}">
                </div>
            </div>
        </div>
    </div>
</section>
