@import "../../../assets/styles/common/variables";

/*
LOGO GRID CSS
 */

.logo-grid {
  padding: 60px 0;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  h2 {
    margin: 20px 0 40px;
    color: #7d7d7d;
    @include phablet {
      margin: 20px 0;
    }
  }
  .column-wrapper {
    .col-five {
      width: 16.66%;
      @include phablet-down {
        width: 100%;
        text-align: center;
      }
      .img-outer {
        width: 100px;
        height: 100px;
        display: inline-block;
        cursor: pointer;
        @include phablet {
          width: 85px;
          height: 85px;
        }
        img {
          filter: grayscale(1);
          -webkit-filter: grayscale(1);
          @include transition(all, 2s, ease-out);
          &:hover {
            filter: none;
            -webkit-filter: none;
          }
        }
      }
    }
  }
}