<section class="stats bg-gray">
    <div class="container">
        <h2 class="text-center">Lorem Stats</h2>
        <div class="column-wrapper">
            <div class="col-five text-center">
                <i class="fa fa-calendar fa-3x stats-icon" aria-hidden="true"></i>
                <h6>Lorem Ipsum Ieos <br><strong>2005</strong></h6>
            </div>
            <div class="col-five text-center">
                <i class="fa fa-group fa-3x stats-icon" aria-hidden="true"></i>
                <h6>Lorem Ipsum Ieos <br><strong>USER</strong></h6>
            </div>
            <div class="col-five text-center">
                <i class="fa fa-briefcase fa-3x stats-icon" aria-hidden="true"></i>
                <h6>Lorem Ipsum Ieos <br><strong>last months</strong></h6>
            </div>
            <div class="col-five text-center">
                <i class="fa fa-map-marker fa-3x stats-icon" aria-hidden="true"></i>
                <h6>Lorem Ipsum Ieos <br><strong>Lorem</strong></h6>
            </div>
            <div class="col-five text-center">
                <i class="fa fa-info-circle fa-3x stats-icon" aria-hidden="true"></i>
                <h6>Lorem Ipsum Ieos <br><strong>snalw</strong></h6>
            </div>
        </div>
    </div>
</section>