@import "../../../assets/styles/common/variables";

/*
 * STATS css
 */

.stats {
  padding: 60px 0;
  h2 {
    margin: 20px 0 30px;
  }
  .col-five {
    width: calc(20% - 20px);
    margin: 0 10px;
    color: #5f5f5f;
    cursor: pointer;
    padding: 10px 0;
    @include tablet-down {
      width: 100%;
      margin: 0 auto 10px;
    }
    &:hover {
      .stats-icon {
        color: $primary-one;
        @include transition(all, 0.4s, ease);
      }
    }
  }

  h6 {
    margin: 10px 0;
    font-weight: 600;
  }
}