<section class="side-tabs">
    <div class="container">
        <h2 class="text-center">Lorem Ipsum</h2>
        <div class="column-wrapper">
            <div class="col-two col-left">
                <div class="col-two" id="tabs">
                    <ul>
                        <li [ngClass]="{'active': selectedIndex == 1}" (click)="setSelected(1)">
                            <span ng-click="tab=1">
                                <i class="fa fa-bitbucket fa-2x tab-icon" aria-hidden="true"></i>
                                <p>LOREM IPSUM DOLOR</p>
                            </span>
                        </li>
                        <li [ngClass]="{'active': selectedIndex == 2}" (click)="setSelected(2)">
                            <span ng-click="tab=2">
                                <i class="fa fa-wifi fa-2x tab-icon" aria-hidden="true"></i>
                                <p>LOREM IPSUM DOLOR</p>
                            </span>
                        </li>
                        <li [ngClass]="{'active': selectedIndex == 3}" (click)="setSelected(3)">
                            <span class="fun-3" ng-click="tab=3">
                                <i class="fa fa-television fa-2x tab-icon" aria-hidden="true"></i>
                                <p>LOREM IPSUM DOLOR</p>
                            </span>
                        </li>
                        <li [ngClass]="{'active': selectedIndex == 4}" (click)="setSelected(4)">
                            <span class="fun-4" ng-click="tab=4">
                                <i class="fa fa-list-alt fa-2x tab-icon" aria-hidden="true"></i>
                                <p>LOREM IPSUM DOLOR</p>
                            </span>
                        </li>
                        <li [ngClass]="{'active': selectedIndex == 5}" (click)="setSelected(5)">
                            <span class="fun-5" ng-click="tab=5">
                                <i class="fa fa-link fa-2x tab-icon" aria-hidden="true"></i>
                                <p>LOREM IPSUM DOLOR</p>
                            </span>
                        </li>
                        <li [ngClass]="{'active': selectedIndex == 6}" (click)="setSelected(6)">
                            <span class="fun-6" ng-click="tab=6">
                                <i class="fa fa-check-circle-o fa-2x tab-icon" aria-hidden="true"></i>
                                <p>LOREM IPSUM DOLOR</p>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-two v-middle-inner">
                    <div class="v-middle">
                        <img src="/assets/images/wifi.png" alt="Wifi router">
                    </div>
                </div>
            </div>
            <div class="col-two col-right">
                <div id="tab-1" class="tab-text fun-1 " [ngClass]="{'active': selectedIndex == 1}">
                    <h4>Lorem Ipsum Dolor Imet</h4>
                    <p>
                        1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                    <ul>
                        <li>Lorem Internet rourter</li>
                        <li>Lorem Internet rourter</li>
                        <li>30% Lorem Internet rourter</li>
                    </ul>
                </div>
                <div id="tab-2" class="tab-text fun-2" [ngClass]="{'active': selectedIndex == 2}">
                    <h4>Lorem Doram Dolor Imet</h4>
                    <p>
                        2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                    <ul>
                        <li>Lorem Internet rourter</li>
                        <li>Lorem Internet rourter</li>
                        <li>30% Lorem Internet rourter</li>
                    </ul>
                </div>
                <div id="tab-3" class="tab-text fun-3" [ngClass]="{'active': selectedIndex == 3}">
                    <h4>Dutil Ipsum Dolor Imet</h4>
                    <p>
                        3Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                    <ul>
                        <li>Lorem Internet rourter</li>
                        <li>Lorem Internet rourter</li>
                        <li>30% Lorem Internet rourter</li>
                    </ul>
                </div>
                <div id="tab-4" class="tab-text fun-4" [ngClass]="{'active': selectedIndex == 4}">
                    <h4>Lorem Ipsum Dolor asloe</h4>
                    <p>
                        4Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                    <ul>
                        <li>Lorem Internet rourter</li>
                        <li>Lorem Internet rourter</li>
                        <li>30% Lorem Internet rourter</li>
                    </ul>
                </div>
                <div id="tab-5" class="tab-text fun-5" [ngClass]="{'active': selectedIndex == 5}">
                    <h4>Lorem Olwks Dolor Imet</h4>
                    <p>
                        5Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                    <ul>
                        <li>Lorem Internet rourter</li>
                        <li>Lorem Internet rourter</li>
                        <li>30% Lorem Internet rourter</li>
                    </ul>
                </div>
                <div id="tab-6" class="tab-text fun-6" [ngClass]="{'active': selectedIndex == 6}">
                    <h4>Lorem Scwlk Dolor Imet</h4>
                    <p>
                        6Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec in eros metus. Pellentesque
                        sodales lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                    <ul>
                        <li>Lorem Internet rourter</li>
                        <li>Lorem Internet rourter</li>
                        <li>30% Lorem Internet rourter</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>