@import "../../../assets/styles/common/variables";

/*
 * SIDE TABS css
 */

.side-tabs {
  padding: 60px 0;
  h2 {
    margin: 20px 0 30px;
  }
  .column-wrapper {
    background: #f5f5f5;
    .col-two {
      &.col-left {
        width: 60%;
        @include tablet-down {
          width: 100%;
        }
      }
      .col-two {
        width: calc(50% - 30px);
        margin: 0 15px;
        @include phablet-down {
          width: 100%;
          margin: 0;
        }
        &.v-middle-inner {
          height: 500px;
          @include tablet {
            height: 400px;
          }
          @include tablet-down {
            height: 350px;
          }
          @include phablet-down {
            display: none;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        li {
          margin: 1px 0;
          @include phablet-down {
            text-align: center;
          }
          &.active {
            span{
              background: #f5f5f5;
                .tab-icon {
                  color: $primary-one;
                }
                p {
                  color: $primary-one;
                }
              }
            }
          span {
            display: block;
            background: $primary-one;
            padding: 25px 20px;
            cursor: pointer;
            @include transition(all, 0.2s, ease-in);
            @include tablet {
              padding: 20px 15px;
            }
            @include tablet-down {
              padding: 10px;
            }

            &:hover {
              background: #f5f5f5;
              .tab-icon {
                color: $primary-one;
              }
              p {
                color: $primary-one;
              }
            }
            .tab-icon {
              float: left;
              width: 50px;
              height: 30px;
              color: #fff;
              font-size: 30px;
              margin-top: 5px;
              @include tablet {
                width: 39px;
              }
              @include phablet-down {
                float: none;
              }
            }
            p {
              margin: 10px 0;
              color: #fff;
              font-weight: 700;
              font-size: 16px;
              @include transition(all, 0.2s, ease-in);
              @include tablet {
                margin: 5px 0;
                font-size: 15px;
              }
              @include phablet-down {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .col-right {
      width: 40%;
      padding: 60px 30px 0 30px;
      //@include tablet {
      //  width: 100%;
      //  padding: 30px 30px 10px;
      //}
      @include phablet {
        width: 100%;
        padding: 30px 30px 10px;
      }
      @include phablet-down {
        width: 100%;
        padding: 30px 30px 10px;
      }
      .tab-text {
        display: none;
        &.active {
          display: block;
        }
        h4 {
          font-weight: 600;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          color: #6F7D8C;
        }
        li {
          position: relative;
          padding-left: 25px;
          margin: 15px 0;
          font-weight: 500;
          &:before {
            content: '';
            position: absolute;
            background: #000;
            width: 8px;
            height: 8px;
            bottom: 4px;
            left: 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

