@import "../../../assets/styles/common/variables";

/*
COL-WITH-ICON CSS
 */

.col-with-icon {
  padding: 60px 0;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  .column-wrapper {
    text-align: center;
    .col-three {
      width: calc(33.33% - 30px);
      margin: 0 15px;
      @include phablet {
        width: 100%;
        max-width: 240px;
        margin-bottom: 30px;
        display: inline-block;
        float: none;
      }
      @include phablet-down {
        width: 100%;
        margin-bottom: 20px;
      }
      &:hover{
        .home-icons { @include transition(all, 0.2s, ease-in);
          background-color: #1e2633;
          color: #919da8;
          border: 2px solid #333a4b;

        }
      }
      .home-icons {
        height: 160px;
        width: 160px;
        border: 2px solid #d2d2d2;
        border-radius: 50%;
        padding-top: 44px;
        color: $primary-one;
      }
      h3 {
        margin: 20px 0;
      }
      p {
        font-size: 16px;
        margin: 0;
        color: #919da8;
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
}