<section class="col-with-icon bg-gray">
    <div class="container">
        <div class="column-wrapper">
            <div class="col-three">
                <a href="#">
                    <div class="icon-box">
                        <i class="fa fa-compress fa-4x home-icons"></i>
                    </div>
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales
                        lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                </a>
            </div>
            <div class="col-three">
                <a href="#">
                    <div class="icon-box">
                        <i class="fa fa-code fa-4x home-icons"></i>
                    </div>
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales
                        lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                </a>
            </div>
            <div class="col-three">
                <a href="#">
                    <div class="icon-box">
                        <i class="fa fa-gear fa-4x home-icons"></i>
                    </div>
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in eros metus. Pellentesque
                        sodales
                        lacinia diam, a iaculis lacus faucibus ac.
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>