@import "../../../assets/styles/common/variables";


.content-with-icon{
  padding: 75px 0;
  @include desktop {
    padding: 70px 0;
  }
  @include phone-down {
    padding: 35px 0;
    text-align: center;
  }
  .container {
    padding-bottom: 25px;
    padding-top: 25px;
    @include container-down {
      padding: 0;
    }
    .inner {
      float: left;
      margin: 0 auto;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      @include phone-down {
        padding: 0 15px;
      }
      .inner-container {
        float: left;
        border-left: 1px solid $base-two;
        border-top: 1px solid $base-two;
      }
      .col-two {
        border-bottom: 1px solid $base-two;
        border-right: 1px solid $base-two;
        padding: 80px 0px;
        @include desktop {
          padding: 50px 0;
        }
        @include tablet {
          padding: 40px 0;
        }
        @include tablet-down {
          width: 100%;
        }
        @include phablet {
          padding: 35px 0;
        }
        @include phablet-down {
          padding: 25px 0;
        }
      }
      .text-container {
        max-width: 400px;
        padding: 0px 15px;
        width: 100%;
        margin: 0 auto;
        @include tablet-down {
          max-width: inherit;
        }
        h3 {
          font-size: 26px;
          font-weight: 700;
          line-height: 32px;
          color: #000;
          padding: 30px 0px 9px;
          @include tablet-down {
            font-size: 22px;
          }
          @include phablet-down {
            padding: 20px 0px 5px;
          }
        }
        p{
          color: #000;
          @include tablet-down {
            margin-bottom: 0;
          }
        }
        .viewall {
          margin-top: 10px;
          @include tablet-down {
            margin: 20px 0;
          }
          a {
            font-size: 18px;
            line-height: 22px;
            color: #6cbe45;
            font-weight: 700;
            padding-right: 27px;
            position: relative;
            &:after {
              background: url(../../../assets/images/green-arrow.png) no-repeat;
              content: ' ';
              position: absolute;
              width: 17px;
              height: 17px;
              right: 0px;
              top: 2px;
            }
          }
        }
      }
    }
  }
}
