<section class="content-with-icon white">
  <div class="container">
    <div class="inner">
      <div class="inner-container">
        <div class="left col-two text-center">
          <div class="content-icon">
            <a href="#">
              <img src="assets/images/icon-1.png" alt="blue-icon 1" />
            </a>
          </div>
          <div class="text-container">
            <h3>Lorem-pumst</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <div class="viewall">
              <a href="#" class="link-arrow">Learn More</a>
            </div>
          </div>        
        </div>
        <div class="left col-two text-center">
          <div class="content-icon">
            <a href="#">
              <img src="assets/images/icon-2.png" alt="blue-icon 2" />
            </a>
          </div>
          <div class="text-container">
            <h3>Lorem-pumst</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <div class="viewall">
              <a href="#">Learn More</a>
            </div>
          </div>        
        </div>
        <div class="left col-two text-center">
          <div class="content-icon">
            <a href="#">
              <img src="assets/images/icon-3.png" alt="blue-icon 3" />
            </a>
          </div>
          <div class="text-container">
            <h3>Lorem-pumst</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <div class="viewall">
              <a href="/solutions/hispanic/">Learn More</a>
            </div>
          </div>        
        </div>
        <div class="left col-two text-center">
          <div class="content-icon">
            <a href="#">
              <img src="assets/images/icon-4.png" alt="blue-icon 4" />
            </a>
          </div>
          <div class="text-container">
            <h3>Lorem-pumst</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            <div class="viewall">
              <a href="/solutions/political-groups/">Learn More</a>
            </div>
          </div>        
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>