@import "../../../assets/styles/common/variables";

/*
 * CONTACT FORM css
 */

.contact-form {
  padding: 60px 0;
  @include tablet-down {
    padding: 30px 0;
  }
  @include tablet {
    padding: 40px 0;
  }
  @include desktop {
    padding: 50px 0;
  }
  .col-seven {
    @include tablet-down {
      width: 100%;
    }
    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.4;
      padding-right: 10px;
      margin-bottom: 30px;
      color: #919da8;
      @include tablet-down {
        margin-bottom: 20px;
      }
    }
    .post-form {
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        border: none;
        font-size: 15px;
        outline: none;

      }
      textarea {
        width: 100%;
        font-size: 15px;
        border: none;
        resize: none;
        padding: 20px 10px;
        outline: none;
      }
    }
    .btn-contact {
      background: $primary-one;
      display: inline-block;
      color: #fff;
      font-weight: 600;
      padding: 10px 15px;
      margin-top: 10px;
      font-size: 15px;
      border-radius: 0;
      outline: none;
      cursor: pointer;
      @include transition(all, 0.2s, ease-in);
      &:hover {
        background: #2e8f9e;
      }
    }
  }
  .col-three {
    width: 30%;
    padding-left: 20px;
    @include tablet-down {
      width: 100%;
      padding: 0;
      margin-top: 20px;
    }
    .box-1 {
      margin-bottom: 30px;
      p {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 14px;
        color: #919da8;
        font-weight: 500;
        span {
          font-weight: 700;
        }
      }
    }
    .box-2 {
      .tele-box {
        padding: 15px;
        border: 1px solid #828282;
        background: #1E2633;
        p {
          margin: 0;
          position: relative;
          padding-left: 20px;
          font-size: 14px;
          color: $font-one;
          &:before {
            content: '';
            position: absolute;
            background: url(/assets/images/phone1.png) no-repeat;
            top: 4px;
            left: 0;
            width: 12px;
            height: 12px;
          }
        }
      }
      .color-box {
        margin: 10px 0;
        .mail {
          font-size: 14px;
          color: $font-one;
          font-weight: 700;
          display: block;
          padding: 15px 0 15px 40px;
          position: relative;
          background: #56c7d9;
          @include transition(all, 0.2s, ease);
          &:hover {
            background: #2e8f9e;
          }
          &:before {
            content: '';
            position: absolute;
            background: url(/assets/images/email1.png) no-repeat;
            top: 14px;
            left: 15px;
            width: 17px;
            height: 17px;
          }
        }
      }
      .social-follow {
        float: left;
        text-transform: uppercase;
        @include phablet-down {
          float: none;
          text-align: center;
        }
        .follow {
          font-weight: 600;
          letter-spacing: 0.075em;
        }
        .social-icons {
          float: left;
          width: 100%;
          margin: 10px 0;
          @include desktop-down {
            float: none;
          }
          a {
            display: inline-block;
            margin-left: 0px;
            height: 40px;
            width: 40px;
            background: $primary-one;
            z-index: 0;
            padding: 12px;
            @include transition(all, 0.2s, ease-in);
            @include desktop {
              margin-left: 5px;
            }
            @include desktop-down {
              margin-left: 2px;
            }
            @include tablet-down {
              font-size: 18px;
            }
            &:hover, &:focus, &:active {
              background: #2e8f9e;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  h3 {
    color: #6F7D8C;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    @include tablet-down {
      margin-bottom: 10px;
    }
  }
}