<section class="contact-form bg-gray">
    <div class="container">
        <div class="column-wrapper">
            <div class="col-seven">
                <h3> Lorem ipsum dolor sit amet</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vehicula felis, ac porttitor
                    lacus. Nam at dui diam. Quisque mollis vulputate lectus nec dictum. Suspendisse luctus, ipsum a
                    dapibus iaculis, tortor velit ornare odio, ut laoreet arcu lorem at libero. Mauris sit amet nunc
                    enim.
                </p>
                <form method="post" class="post-form">
                    <input type="text" name="Name" placeholder="Name">
                    <input type="email" name="E-mail" placeholder="Email">
                    <input type="text" name="subject" placeholder="subject">
                    <textarea rows="6" placeholder="Message"></textarea>
                </form>
                <button type="submit" class="btn-contact">SEND MESSAGE</button>
            </div>
            <div class="col-three">
                <div class="box-1">
                    <h3>Business hour</h3>
                    <p><span>Monday-Friday: </span>9am to 8pm</p>
                    <p><span>Saturday: </span>9am to 2pm</p>
                    <p><span>Sunday: </span>Closed</p>
                </div>
                <div class="box-2">
                    <h3>Contact Info</h3>
                    <div class="gray-box tele-box">
                        <p> 800.555.5555</p>
                    </div>
                    <div class="color-box">
                        <a href="mailto:abc@abc.com" class="mail">lorem@lorem.com</a>
                    </div>
                    <div class="social-follow">
                        <div class="social-icons">
                            <a href="#" target="_blank"><img alt="linkedin" src="assets/images/linkedin.png"></a>
                            <a href="#" target="_blank"><img alt="facebook" src="assets/images/facebook.png"></a>
                            <a href="#" target="_blank"><img alt="twitter" src="assets/images/twitter.png"></a>
                            <a href="#" target="_blank"><img alt="youtube" src="assets/images/youtube.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>