@import "../../../assets/styles/common/variables";

/*
 * VIDEO BANNER css
 */

.video-banner {
  height: 350px;
  overflow: hidden;
  @include tablet {
    height: 300px;
  }
  @include phablet {
    height: 250px;
  }
  @include phone {
    height: 200px;
  }
  @include phone-down {
    height: 180px;
  }
  video {
    transform: translateY(-40%);
    @include tablet {
      transform: translateY(-35%);
    }
    @include phablet {
      transform: translateY(-30%);
    }
    @include phone {
      transform: translateY(-25%);
    }
    @include phone-down {
      transform: translateY(-18%);
    }
  }
  .v-middle-wrapper {
    background: rgba(30, 38, 51, .6);
    .v-middle-inner {
      .v-middle {
        color: $font-one;
        .author {
          margin-top: 15px;
          display: inline-block;
          font-style: italic;
          font-weight: 700;
        }
      }
    }
  }
}