<section class="content-with-icon">
  <div class="container">
      <h2 class="bottom-design text-center"><span class="">How we do it</span></h2>
    <div class="icon-inner">
      <div class="icon">
        <img src="assets/images/green_tick.png" alt="green sparrow tick image">
      </div>
      <div class="icon-content">
        <p>Lorem ipsum dolor elit, sed do eiusmod tempor incididunt ut labore et dolore magna .</p>
      </div>
    </div>
    <div class="icon-inner">
      <div class="icon">
        <img src="assets/images/green_tick.png" alt="green sparrow tick image">
      </div>
      <div class="icon-content">
        <p>Kipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
      </div>
    </div>
    <div class="icon-inner">
      <div class="icon">
        <img src="assets/images/green_tick.png" alt="green sparrow tick image">
      </div>
      <div class="icon-content">
        <p>Qipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm.</p>
      </div>
    </div>
    <div class="icon-inner">
      <div class="icon">
        <img src="assets/images/green_tick.png" alt="green sparrow tick image">
      </div>
      <div class="icon-content">
        <p>Weages ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore .</p>
      </div>
    </div>
    <div class="icon-inner">
      <div class="icon">
        <img src="assets/images/green_tick.png" alt="green sparrow tick image">
      </div>
      <div class="icon-content">
        <p>Sipsum dolor sit amet, consectetur aiusmod tempor incididunt ut labore .</p>
      </div>
    </div>
    <div class="icon-inner">
      <div class="icon">
        <img src="assets/images/green_tick.png" alt="green sparrow tick image">
      </div>
      <div class="icon-content">
        <p>Gipsum dolor sr adipiscing elit, sed do eiusmod tempor incididunt ut la.</p>
      </div>
    </div>
  </div>
</section>
