@import "../../../assets/styles/common/variables";

.content-with-icon {
  background: #f6f6f6;
  padding: 60px 0;
  @include tablet {
    padding: 40px 0;
  }
  @include tablet-down {
    padding: 20px 0;
  }
  .bottom-design{
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      background: url(../../../assets/images/heading-border.png) no-repeat;
      width: 129px;
      height: 7px;
      bottom: 0;
      left: calc(50% - 65px);
    }
  }
  .icon-inner {
    float: left;
    width: calc(50% - 60px);
    display: table;
    margin: 0 30px 35px;
    table-layout: fixed;
    vertical-align: top;
    &:nth-child(even) {
      clear: both;
    }
    @include tablet {
      width: 50%;
      margin: 0 auto;
    }
    @include phablet {
      width: 50%;
      margin: 0 auto;
      height: auto !important;
    }
    @include phablet-down  {
      width: 100%;
      margin: 0;
      padding: 3px 0;
      height: auto !important;
    }

    .icon {
      display: table-cell;
      vertical-align: middle;
      width: 50px;
      @include tablet-down {
        width: 40px;
      }
    }
    .icon-content {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px 0 38px;
      max-width: calc(100% - 68px);
      @include desktop-down {
        padding: 0 20px;
      }
    }
  }
}







