/* Transition */
@mixin transition($property, $time, $behaviour) {
  -webkit-transition: $property $time $behaviour;
  -moz-transition: $property $time $behaviour;
  -o-transition: $property $time $behaviour;
  -ms-transition: $property $time $behaviour;
  transition: $property $time $behaviour;
}

/* Transition-delay  */
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -ms-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

@mixin transition-property($property) {
  -webkit-transition-property: $property;
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  transition-property:         $property;
}

/* Order  */
@mixin order($order) {
  -webkit-box-ordinal-group: $order;
  -moz-box-ordinal-group: $order;
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

/* Transform-origin */
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

/* Transform */
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  -o-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

/* border-radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/* Backface-visibility  */
@mixin backface-visibility($arguments) {
  -webkit-backface-visibility: $arguments;
  -moz-backface-visibility: $arguments;
  -ms-backface-visibility: $arguments;
  -o-backface-visibility: $arguments;
  backface-visibility: $arguments;
}

/* Box-shadow*/
@mixin box-shadow($top, $left, $blur, $color) {
  box-shadow: $top $left $blur $color;
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  -ms-box-shadow: $top $left $blur $color;
  -o-box-shadow: $top $left $blur $color;
}

@mixin flexbox() {
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
}

@mixin box-orient($orientation) {
  -webkit-box-orient: $orientation;
  -moz-box-orient: $orientation;
  -ms-box-orient: $orientation;
  -o-box-orient: $orientation;
  box-orient: $orientation;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -o-flex-direction: $direction;
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@mixin box-align($alignment) {
  -webkit-box-align: $alignment;
  -moz-box-align: $alignment;
  -ms-box-align: $alignment;
  -o-box-align: $alignment;
  box-align: $alignment;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -o-align-items: $align;
  align-items: $align;
}

/* Animation */
@mixin animation($animation, $duration, $transition, $iteration) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $transition;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $transition;
  -moz-animation-iteration-count: $iteration;
  -o-animation-name: $animation;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $transition;
  -o-animation-iteration-count: $iteration;
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $transition;
  animation-iteration-count: $iteration;
}
/* Animation */
@mixin animation2($animation, $duration, $transition, $fillmode) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $transition;
  -webkit-animation-fill-mode: $fillmode;
  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $transition;
  -moz-animation-fill-mode: $fillmode;
  -o-animation-name: $animation;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $transition;
  -o-animation-fill-mode: $fillmode;
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $transition;
  animation-fill-mode: $fillmode;
}

/* Base Font-family */
$font: 'Raleway', sans-serif;

/* Base colors*/
$primary-one: #56c7d9;
$primary-two: #66c420;
$primary-three: #00abd3;

$base-one: #f2f2f2;
$base-two: #dbdcd4;
$base-three: #575757;
$base-four: #1E2633;
$base-five: #C5C5C5;

$font-one: #fff;
$font-two:#2d2d2d;
$font-three: #2d2d2d;


$other-one: #0071bc;
$other-two: #0071c5;
$other-three: #ee2526;
$other-four: #B951B9;
$other-five: #4d9cd7;

/*  Media query variables */
$phone_width: 481px;
$phablet_width: 596px;
$tablet_width: 768px;
$desktop_width: 992px;
$desktop_mid_width: 1024;
$container_width: 1200px;

/*  Media query mixins
   (min-width:1200px) */
@mixin container-up {
  @media (min-width: #{$container_width}) {
    @content;
  }
}

/*  (min-width:992px) */
@mixin desktop-up {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}

/* (min-width:992px), (max-width: 1023px) */
@mixin desktop-mid {
  @media (min-width: #{$desktop_width}) and (max-width: #{$desktop_mid_width - 1px}) {
    @content;
  }
}

/* (min-width:992px), (max-width: 1200px) */
@mixin desktop {
  @media (min-width: #{$desktop_width}) and (max-width: #{$container_width}) {
    @content;
  }
}

/*  (min-width:768px), (max-width: 991px) */
@mixin tablet {
  @media (min-width: #{$tablet_width}) and (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

/*  (min-width:596px), (max-width: 767px) */
@mixin phablet {
  @media (min-width: #{$phablet_width}) and (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

/*  (min-width:481px), (max-width: 595px) */
@mixin phone {
  @media (min-width: #{$phone_width}) and (max-width: #{$phablet_width - 1px}) {
    @content;
  }
}

/* (max-width:1200px) */
@mixin container-down {
  @media (max-width: #{$container_width}) {
    @content;
  }
}

/* (max-width:991px) */
@mixin desktop-down {
  @media (max-width: #{$desktop_width - 1px}) {
    @content;
  }
}

/* (max-width:767px) */
@mixin tablet-down {
  @media (max-width: #{$tablet_width - 1px}) {
    @content;
  }
}

/* (max-width:595px) */
@mixin phablet-down {
  @media (max-width: #{$phablet_width - 1px}) {
    @content;
  }
}

/* (min-width:595px) */
@mixin phablet-up {
  @media (min-width: #{$phablet_width}) {
    @content;
  }
}

/*  (max-width:480px) */
@mixin phone-down {
  @media (max-width: #{$phone_width - 1px}) {
    @content;
  }
}
