// Our variables
@import "common/variables";
@import "common/components/color-classes";



// Common styles
@import "common/components/buttons";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
ol, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: $base-four;
  outline: 0;
  font-size: 18px;
  cursor: pointer;
  &:active,
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  @include phablet {
    font-size: 16px;
  }
  @include phablet-down {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li,
fieldset, form, label,
table, tbody, tr, th, td,
figure, footer, header,
menu, nav, section,
audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
img {
  height: auto;
  max-width: 100%;
  border: 0;
}

video{
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1070px;
  position: relative;
}
.content-860{
  max-width: 860px;
  margin: 0 auto;
  @include desktop-down {
    padding: 0 20px;
  }
}
.content-900{
  max-width: 900px;
  margin: 0 auto;
  @include desktop-down {
    padding: 0 20px;
  }
}
.content-956{
  max-width: 956px;
  margin: 0 auto;
  @include desktop-down {
    padding: 0 20px;
  }
}
.content-570 {
  max-width: 570px;
  margin: 0 auto;
  @include desktop-down {
    padding: 0 20px;
  }
}

section {
  width: 100%;
  position: relative;
  float: left;
  padding: 40px 0;
  @include desktop-down {
    padding: 30px 0;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
/*
 * Heading and Paragraph.
 */

h1,
.heading {
  font-size: 64px;
  font-family: $font;
  line-height: 1.125;
  font-weight: 100;

  @include desktop {
    font-size: 52px;
  }
  @include tablet {
    font-size: 42px;
  }
  @include phablet {
    font-size: 36px;
  }
  @include phone {
    font-size: 30px;
  }
  @include phone-down {
    font-size: 26px;
  }
}
h2 {
  font-size: 48px;
  font-family: $font;
  line-height: 1.08;
  font-weight: 100;
  text-transform: capitalize;
  @include desktop {
    font-size: 40px;
  }
  @include tablet {
    font-size: 34px;
  }
  @include phablet {
    font-size: 30px;
  }
  @include phone {
    font-size: 28px;
  }
  @include phone-down {
    font-size: 24px;
  }
}
h3 {
  font-size: 28px;
  font-family: $font;
  line-height: 1.3;
  font-weight: 400;
  @include desktop {
    font-size: 26px;
  }
  @include tablet {
    font-size: 24px;
  }
  @include phablet {
    font-size: 24px;
  }
  @include phone {
    font-size: 22px;
  }
  @include phone-down {
    font-size: 20px;
  }
}
h4 {
  font-size: 24px;
  font-family: $font;
  line-height: 1.3;
  font-weight: 400;
  @include desktop {
    font-size: 22px;
  }
  @include tablet {
    font-size: 20px;
  }
  @include phablet {
    font-size: 20px;
  }
  @include phone {
    font-size: 18px;
  }
  @include phone-down {
    font-size: 18px;
  }
}
h5 {
  font-size: 22px;
  font-family: $font;
  line-height: 1.3;
  font-weight: 100;
  @include desktop {
    font-size: 20px;
  }
  @include tablet {
    font-size: 20px;
  }
  @include phablet {
    font-size: 18px;
  }
  @include phone {
    font-size: 18px;
  }
  @include phone-down {
    font-size: 18px;
  }
}
h6 {
  font-size: 18px;
  font-family: $font;
  line-height: 1.3;

  @include phone {
    font-size: 16px;
  }
  @include phone-down {
    font-size: 16px;
  }
}
p{
  font-family: $font;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  @include tablet-down {
    line-height: 1.3;
  }
  @include phablet {
    font-size: 16px;
  }
  @include phablet-down {
    font-size: 14px;
  }
  &.bold {
    color: #036;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
}

.margin-20 {
  margin-top: 20px;
}

/*
 * Columns.
 */

.col-two{
  width: 50%;
  float: left;
  position: relative;
}

.col-three{
  width: 33.33%;
  float: left;
  position: relative;
}
.col-four{
  width: 25%;
  float: left;
  position: relative;
}
.col-five{
  width: 20%;
  float: left;
  position: relative;
}
.col-seven {
  width: 70%;
  float: left;
  position: relative;
}
.col-7 {
  width: 70%;
  float: left;
  position: relative;
  height: 100%;
}

.col-3 {
  width: 30%;
  float: left;
  position: relative;
  height: 100%;
}
.column-1 {
  width: 100%;
  float: left;
  position: relative;
  height: 100%;
}
.column-2 {
  width: 50%;
  float: left;
  position: relative;
  height: 100%;
  @include tablet-down {
    width: 100%;
  }
}
.column-3 {
  width: 33.33%;
  float: left;
  position: relative;
  height: 100%;
  @include tablet-down {
    width: 100%;
  }
}
.column-4 {
  width: 25%;
  float: left;
  position: relative;
  height: 100%;
  @include tablet {
    width: 50%;
  }
  @include tablet-down {
    width: 100%;
  }
}
.column-5 {
  width: 20%;
  float: left;
  position: relative;
  height: 100%;
  @include tablet-down {
    width: 100%;
  }
}
.column-7 {
  width: 66.66%;
  float: left;
  position: relative;
  height: 100%;
  @include tablet-down {
    width: 100%;
  }
}
.column-8 {
  width: 75%;
  float: left;
  position: relative;
  height: 100%;
  @include tablet-down {
    width: 100%;
  }
}

header:after,
footer:after,
.container:after,
section:after,
.wrapper:after,
.column-wrapper:after,
.v-middle-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

/*
 * Background Image.
 */
.bg-img {
  overflow: hidden;
}
/*
 * Vertical Align Middle.
 */
.v-middle-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3
}
.v-middle-inner {
  display: table;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.v-middle,
.v-top,
.v-bottom {
  display: table-cell;
  vertical-align: middle;
}
.v-top{
  vertical-align: top;
}
.v-bottom{
  vertical-align: bottom;
}
/*
 * Text Alignment.
 */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.no-padding {
  padding: 0;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.padding-bottom {
  padding-bottom: 30px;
}
.less-padding {
  padding: 30px 0;
}
.padding-60 {
  padding: 60px 0;
}
/*
 * Effects.
 */
.zoom-in img {
  @include transform(scale(1));
  @include transition(transform, .4s, ease-in-out);
}
.zoom-in:hover img {
  @include transform(scale(1.06));
}
.zoom-bg .bg-img img {
  @include transform(scale(1));
  @include transition(transform, .4s, ease-in-out);
}
.zoom-bg:hover .bg-img img {
  @include transform(scale(1.06));
}

.color-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: color;
}
.button-wrap {
  text-align: center;
}
.button-default {
  padding: 10px;
  background: $primary-three;
  font-size: 16px;
  color: $font-one;
  display: inline-block;
  border-radius: 6px;
  @include box-shadow(0, 2px, 0px, $primary-one);
  @include transition(all, .4s, ease);
  @include phablet-down {
    padding: 8px;
    font-size: 14px;
  }
  &:hover {
    background: $primary-one;
  }
}
.grey-bg {
  background-color: #e9e9e9;
}
