@import "../../../assets/styles/common/variables";

/*
 * News-Event-Post css
 */

.col-three-block {
  .col-three-outer {
    padding: 53px 0 0 0;
    .col-three{
      width: calc(33.33% - 14px);
      margin: 0 7px;
      @include phablet-down {
        width: 100%;
      }
      a {
        display: block;
        .bg-img {
          @include phablet-down {
            max-height: 270px;
          }
          img {
            width: 100%;
          }
        }
      }
      .content {
        padding: 30px 20px;
        span {
          display: block;
          font-size: 18px;
          line-height: 1.4;
          color: $base-four;
          text-transform: capitalize;
          @include phablet-down {
            font-size: 14px;
          }
          @include phablet {
            font-size: 16px;
          }
        }
        .title {
          font-weight: 700;
          padding: 0px 0 0 0;
        }
        .link {
          color: $primary-one;
        }
      }
    }
  }
  .content {
    text-align: center;
    h2 {

    }
  }

}
