<section class="col-three-block bg-gray">
  <div class="container">
    <div class="content">
      <h2>Lorem ipsum dolor</h2> 
    </div>
    <div class="col-three-outer">
      <div class="col-three">
        <a href="#">
          <div class="bg-img">
            <img src="assets/images/news1.png" alt="new-image"> 
          </div>
          <div class="content">
            <span class="date">Sep .22. 2016</span>
            <span class="title">Lorem ipsum dolor</span>
            <span class="venu">Lorem ipsum, dolor</span>
            <span  class="link">RSVP</span>
          </div>
        </a>
      </div>
      <div class="col-three">
        <a href="#">
          <div class="bg-img">
            <img src="assets/images/news2.png" alt="new-image"> 
          </div>
          <div class="content">
            <span class="date">Sep 26-29. 2016</span>
            <span class="title">Lorem ipsum dolor</span>
            <span class="link">RSVP</span>
          </div>
        </a>
      </div>
      <div class="col-three">
        <a href="#">
          <div class="bg-img">
            <img src="assets/images/news3.png" alt="new-image"> 
          </div>
          <div class="content">
            <span class="date">Sep 28, 2016</span>
            <span class="title">Lorem ipsum dolor</span>
            <span class="venu">Lorem ipsum, dolor</span>
            <span  class="link">RSVP</span>
          </div>
        </a>
      </div>
      <div class="button-wrap">
        <a href="#" class="button-default">More News</a>
      </div>
    </div>
  </div> 

</section>    