@import "../../../assets/styles/common/variables";

/*
 * Blog-Detail css
 */

.blog-detail {
  .content-wrap {
    .image-outer{
      margin-bottom: 15px;
    }
    p {
      color: $base-four;
      @include desktop-down {
        margin-bottom: 10px;
      }
    }
    h3 {
      padding-bottom: 15px;
      margin-bottom: 15px;
      @include desktop-down {
        margin-bottom: 0;
      }
    }
  }
}
