@import "../../../assets/styles/common/variables";

.section-second-level {
  overflow: hidden;
  height: 262px;
  background: $primary-one;
  padding: 0;
  h1 {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    color: $font-one;
    padding-top: 70px;
  }
  p {
    color: $font-one;
    text-align: left;
  }
}
