<section class="section-second-level">
  <div class="v-middle-wrapper">
    <div class="v-middle-inner">
      <div class="v-middle">
        <div class="container">
          <h1 *ngIf="item.title" class="text-center">{{item.title}}</h1>
          <p *ngIf="item.author" class="blog-print">By <span>{{item.author}}</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
