@import "../../../assets/styles/common/variables";

/*
 * Col three block
 */

.we-col-three-block {
  float: left;
  width: 100%;
  &.we-grey-bg {
    padding: 60px 0;
    @include tablet {
      padding: 40px 0;
    }
    @include tablet-down {
      padding: 30px 0;
    }
  }
  .container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
    .col-three {
      max-width: calc(33.33% - 10px);
      margin: 0 5px;
      width: 100%;
      min-height: 333px;
      @include tablet-down {
        max-width: 394px;
        float: none;
        margin: 0 auto;
        margin-bottom: 9px;
        border-right: 0;
        border-bottom: none;
      }
      &:last-child {
        @include tablet-down {
          margin-bottom: 0;
        }
      }
      a {
        display: block;
      }
      .img-box {
        overflow: hidden;
        @include tablet {
          width: auto;
          max-width: inherit;
        }
        img {
          width: auto;
          height: 100%;
          object-fit: cover;
        }
      }
      .v-middle-wrapper {
        background: rgba(0, 0, 0, 0.63);
        .v-middle {
          padding: 0 30px;
          @include desktop-down {
            padding: 0 15px;
          }
          .content {
            @include transition (all, .5s, ease);
            @include transform(translateY(20px));
            h5 {
              font-weight: 600;
            }
            p {
              margin: 6px 0 12px;
              color: $font-one;
            }
          }
          .hover-btn {
            @include transition (all, .5s, ease);
            @include transform (translateY(50px));
            opacity: 0;
            .button-default {
              display: inline-block;
              padding: 7px 11px;
              @include transition (all, .5s, ease);
              color: $font-one;
              @include border-radius(5px);
              background: $other-two;
              box-shadow: inset 0 0 0 2px $other-two, 0 0 1px transparent;
              font-weight: 600;
              @include tablet {
                padding: 7px 10px;
                font-size: 12px;
              }
              @include tablet-down {
                padding: 7px 10px;
                font-size: 12px;
              }
              &:hover {
                color: $other-two;
                background: transparent;
              }
            }
          }
        }
      }
      &:hover {
        .v-middle-wrapper {
          .v-middle {
            .content {
              @include transition (all, .5s, ease);
              @include transform(translateY(-23px));
            }
            .hover-btn {
              @include transition (all, .5s, ease);
              @include transform(translateY(-14px));
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
