<section class="we-col-three-block we-grey-bg">
  <div class="container">
    <div class="col-three">
      <a href="#">
        <div class="img-box">
          <img src="assets/images/talking_two_girls.jpg" alt="Talking Two Girls">
        </div>
        <div class="v-middle-wrapper">
          <div class="v-middle-inner">
            <div class="v-middle">
              <div class="content">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
              </div>
              <div class="hover-btn text-center">
                <span class="button-default">Lorem ipsum</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-three">  
      <a href="#">
        <div class="img-box">
          <img src="assets/images/working_man.jpg" alt="Working Man">
        </div>
        <div class="v-middle-wrapper">
          <div class="v-middle-inner">
            <div class="v-middle">
              <div class="content">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
              </div>
              <div class="hover-btn text-center">
                <span class="button-default">Learn More</span>
              </div>
            </div>
          </div> 
        </div>
      </a>
    </div>
    <div class="col-three">
      <a href="#">
        <div class="img-box">
          <img src="assets/images/server_room_lappy.jpg" alt="Server Room Lappy">
        </div>
        <div class="v-middle-wrapper">
          <div class="v-middle-inner">
            <div class="v-middle">
              <div class="content">  
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</p>
              </div>
              <div class="hover-btn text-center">
                <span  class="button-default">Lorem ipsum</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
